<tr>
  <td class="plr-15" style="padding: 0px 40px 16px;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="pb-20" style="padding: 0 0 30px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="pb-20"
                style="padding: 30px 0; border-top: 1px solid #E0E3EB; border-bottom: 1px solid #E0E3EB;">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding:0 0 25px;">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <th class="tflex" width="290" align="left"
                            style="vertical-align: top; padding: 0;" valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="ac"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; color: #B2B5BE;">
                                  Thanks for reading, <br>
                                  The TradingView Team
                                </td>
                              </tr>
                            </table>
                          </th>
                          <th class="tflex" width="20" height="20" align="left"
                            style="vertical-align: top; padding: 0;" valign="top"></th>
                          <th class="tflex" width="290" align="left"
                            style="vertical-align: top; padding: 0;" valign="top">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="ac" align="right"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: 400; color: #B2B5BE;">
                                  470 Olde Worthington Rd., Suite 200<br>
                                  Westerville&nbsp;OH&nbsp;43082
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="text-decoration: none; mso-line-height-rule: exactly;">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <th class="tflex" width="280" align="left"
                            style="vertical-align: top; padding: 0;" valign="top">
                            <table class="tc" width="285" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="h-u ac"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank" href="https://apps.apple.com/app/id1205990992">App
                                    Store</a>
                                </td>
                                <td class="h-u ac"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank"
                                    href="https://play.google.com/store/apps/details?id=com.tradingview.tradingviewapp">Google
                                    Play</a>
                                </td>
                                <td class="h-u ac"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank" href="https://www.tradingview.com/desktop/">Desktop
                                    app</a>
                                </td>
                              </tr>
                            </table>
                          </th>
                          <th class="tflex" width="20" height="25" align="left"
                            style="vertical-align: top; padding: 0;" valign="top"></th>
                          <th class="tflex" width="300" align="left"
                            style="vertical-align: top; padding: 0;" valign="top">
                            <table width="100%" class="tc" align="right" cellpadding="0"
                              cellspacing="0">
                              <tr>
                                <td class="h-u ac" align="right"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank"
                                    href="https://www.facebook.com/tradingview/">Facebook</a>
                                </td>
                                <td class="h-u ac" align="right"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank"
                                    href="https://www.youtube.com/channel/UCfOflihrkOKDQZ_ZKtF2VfQ">YouTube</a>
                                </td>
                                <td class="h-u ac" align="right"
                                  style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank"
                                    href="https://www.linkedin.com/company/tradingview/">LinkedIn</a>
                                </td>
                                <td class="h-u ac" align="right"
                                  style="min-width: 30px; text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #5B9CF6;">
                                  <a style="color: #5B9CF6; outline: none!important; text-decoration: none!important;"
                                    target="blank" href="https://twitter.com/tradingview/">X</a>
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="h-u"
          style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 18px; font-weight:400; color:#B2B5BE; padding: 0 0 10px;">
          This email was sent to <a style="text-decoration:none;color:#5B9CF6;"
            href="mailto:{{ recipient_email }}" ems:notrack="true">{{ recipient_email }}</a> because
          you signed up at <a style="text-decoration:none;color:#5B9CF6;" href="{{ host }}" target="_blank">TradingView.com</a>.
          /{/{ "To manage your subscription options or to unsubscribe go to&nbsp;{profile_link}your profile{link_end}.".format(profile_link='<a style="text-decoration:none;color:#5B9CF6;" href="{profile_url}">'.format(profile_url=host + recipient_profile_url + "#notifications"), link_end='</a>') | safe }}
        </td>
      </tr>
    </table>
  </td>
</tr>