<tr>
  <td class="plr-20" style="padding: 0px 40px 16px;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="pb-20" style="padding: 0 0 30px;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="pb-20" style="padding: 24px 0 14px; border-top: 1px solid #E0E3EB; border-bottom: 1px solid #E0E3EB;">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="padding:0 0 24px;">
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <th class="tflex" width="290" align="left"
                            style="vertical-align:top; padding:0;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="ac">
                                  <p style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 16px;line-height: 24px; font-weight:400; color: #B2B5BE;">
                                    感谢阅读<br>TradingView团队  
                                  </p>
                                </td>
                              </tr>
                            </table>
                          </th>
                          <th class="tflex" width="20" height="20" align="left"
                            style="vertical-align:top; padding:0;"></th>
                          <th class="tflex" width="290" align="left"
                            style="vertical-align:top; padding:0;">
                            <table width="100%" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="ac fs-14" align="right"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 16px;line-height: 24px; font-weight:400;  color: #B2B5BE;">
                                  470 Olde Worthington Rd., Suite 200<br />
                                  Westerville&nbsp;OH&nbsp;43082 </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                          <th class="tflex" width="280" align="left"
                            style="vertical-align:top; padding:0;">
                            <table class="tc" width="285" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="h-u ac"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://itunes.apple.com/cn/app/tradingview-trading-community-charts-and-quotes/id1205990992">App
                                    Store</a>
                                </td>
                                <td class="h-u ac"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://play.google.com/store/apps/details?id=com.tradingview.tradingviewapp">Google
                                    Play</a> </td>
                                <td class="h-u ac"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://cn.tradingview.com/desktop/">Desktop app</a> </td>
                              </tr>
                            </table>
                          </th>
                          <th class="tflex" width="20" height="25" align="left"
                            style="vertical-align:top; padding:0;"></th>
                          <th class="tflex" width="300" align="right"
                            style="vertical-align:top; padding:0;">
                            <table class="tc" width="285" align="right" cellpadding="0" cellspacing="0">
                              <tr>
                                <td class="h-u ac" align="right" align="right"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://www.facebook.com/tradingview/">Facebook</a>
                                </td>
                                <td class="h-u ac" align="right"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://www.youtube.com/@br_tradingview">YouTube</a>
                                </td>
                                <td class="h-u ac" align="right"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://www.linkedin.com/company/tradingview/">LinkedIn</a>
                                </td>
                                <td width="32" class="h-u ac" align="right"
                                  style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 22px; font-weight:400; color: #5B9CF6;">
                                  <a style="text-decoration:none;color: #5B9CF6;" target="blank"
                                    href="https://twitter.com/cn_tradingview/">X</a>
                                </td>
                              </tr>
                            </table>
                          </th>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="h-u" style="font-family:-apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 14px;line-height: 18px; font-weight:400; color:#B2B5BE; padding: 0 0 10px;">
          此电子邮件已发送至<a style="text-decoration:none;color:#5B9CF6;" href="mailto:{{ recipient_email }}" ems:notrack="true">{{ recipient_email }}</a>，因为您已在<a style="text-decoration:none;color:#5B9CF6;" href="{{ host }}" target="_blank">TradingView.com</a>注册。
          
          /{/{ "如果您不想再收到此类电子邮件，您可以随时{profile_link}退订{link_end}。".format(profile_link='<a style="text-decoration:none;color:#5B9CF6;" href="{profile_url}">'.format(profile_url=host + recipient_profile_url + "#notifications"), link_end='</a>') | safe }}
        </td>
      </tr>
    </table>
  </td>
</tr>