<tr>
  <td class="plr-20" style="text-decoration: none; mso-line-height-rule: exactly; padding: 0px 40px 0px;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td height="24" style="line-height:24px; height: 24px;">&nbsp;</td>
      </tr>
      <tr>
        <th class="tflex" width="200" align="left" style="vertical-align: top; padding: 0;" valign="top">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="ac" style="text-decoration: none; mso-line-height-rule: exactly;">
                <a target="blank" href="https://www.tradingview.com/" style="color: #2962FF; outline: none!important; text-decoration: none!important;">
                  <img src="https://s3.tradingview.com/mail/v3/tradingview-logo.png" style="border: none; vertical-align: top; height: auto; width: 158px;" border="0" width="158" alt="TradingView">
                </a>
              </td>
            </tr>
          </table>
        </th>
        <th class="hide" width="20" height="20" align="left" style="vertical-align: top; padding: 0;" valign="top"></th>
        <th class="hide" width="380" align="left" style="padding: 0;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td dir="rtl" class="ac" align="left" style="text-decoration: none; mso-line-height-rule: exactly; font-family: -apple-system, BlinkMacSystemFont, ‘Trebuchet MS’, Roboto, SegoeUI, Ubuntu, sans-serif; mso-ascii-font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 24px; font-weight: 400; color: #131722; padding: 0px;">
                {{logo_header_text}}
              </td>
            </tr>
          </table>
        </th>
      </tr>
      <tr>
        <td class="hide" height="48" style="line-height:48px; height: 48px;">&nbsp;</td>
      </tr>
      <tr>
        <td height="32" style="line-height:32px; height: 32px;">&nbsp;</td>
      </tr>
    </table>
  </td>
</tr>