<tr>
  <td valign="top" align="center" style="text-align: center; padding: 0px 0px;">
    <img class="light-img" alt="icon" src="{{main_icon_light}}" width="120"
      height="120"
      style="height: 120px;min-height: 120px;max-height: 120px;width: 120px;min-width: 120px;max-width: 120px;color: #131722;-ms-interpolation-mode: bicubic;"
      border="0">
    <!--[if !mso]>
  <! -->
    <span class="dark-img"
      style="line-height: 0;display: none;visibility: hidden;overflow: hidden;width: 0;max-width: 0;max-height: 0;">
      <img alt="icon" src="{{main_icon_dark}}" width="120" height="120"
        style="height: 120px;min-height: 120px;max-height: 120px;width: 120px;min-width: 120px;max-width: 120px;color: #131722;-ms-interpolation-mode: bicubic;"
        border="0">
    </span>
    <!--<![endif]-->
</td>
</tr>