	<tr>
		<td class="plr-20" style="padding-left:40px;padding-right:40px;">
			<table dir="ltr" width="100%" cellpadding="0" cellspacing="0" role="presentation">
				<tr>
					<td align="right" width="135" style="text-decoration: none; mso-line-height-rule: exactly; padding-right: 9px;">
						<a href="https://apps.apple.com/{{loc}}/app/apple-store/id1205990992?pt=118302550&ct=wmobile&mt=8" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">
							<img src="https://mpics.tradingview.com/pics/welcome/appstore.png" width="135" alt="App Store" style="border: none;"></a>
					</td>
					<td align="left" width="135" style="text-decoration: none; mso-line-height-rule: exactly; padding-left: 9px;">
						<a href="https://play.google.com/store/apps/details?id=com.tradingview.tradingviewapp&referrer=utm_source%3Dwmobile%26utm_campaign%3Dwmobile" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">
							<img src="https://mpics.tradingview.com/pics/welcome/googleplay.png" width="135" alt="Google Play" style="border: none;"></a>
					</td>
				</tr>	
			</table>
		</td>
	</tr>