<style type="text/css">
  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
  }

  a[href^="tel"]:hover {
    text-decoration: none !important;
  }

  table td {
    mso-line-height-rule: exactly;
  }

  a img {
    border: none;
  }

  b,
  strong {
    font-weight: 700;
  }

  p {
    margin: 0;
  }

  th {
    padding: 0;
  }

  td {
    text-decoration: none;
  }

  a {
    outline: none;
    color: #2962FF;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline !important;
  }

  .h-u a {
    text-decoration: none;
  }

  .h-u a:hover {
    text-decoration: underline !important;
  }

  ul {
    Margin: 0 0 0 20px;
    padding: 0;
  }

  img+div {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    opacity: 0 !important;
  }

  .feedback:hover {
    border: 1px solid #bebebe !important;
  }

  .btn:hover {
    text-decoration: none !important;
  }

  u+.darkmode0 .gmail-blend-exclusion-blk {
    background-color: #000;
    mix-blend-mode: screen;
  }

  u+.darkmode0 .gmail-blend-difference-blk {
    background-color: #000;
    mix-blend-mode: difference;
    color: #ffffff;
  }

  @media only screen and (max-width:375px) and (min-width:374px) {
    .gmail-fix {
      min-width: 374px !important;
    }
  }

  @media only screen and (max-width:414px) and (min-width:413px) {
    .gmail-fix {
      min-width: 413px !important;
    }
  }

  @media only screen and (max-width:500px) {
    .flexible {
      width: 100% !important;
    }

    .img-flex img {
      width: 100% !important;
      height: auto !important;
    }

    .table-holder {
      display: table !important;
      width: 100% !important;
    }

    .thead {
      display: table-header-group !important;
      width: 100% !important;
    }

    .tfoot {
      display: table-footer-group !important;
      width: 100% !important;
    }

    .tflex {
      display: block !important;
      width: 100% !important;
    }

    .hide {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
      padding: 0 !important;
      font-size: 0 !important;
      line-height: 0 !important;
    }

    .tc {
      margin: 0 auto !important;
      float: none !important;
    }

    .tl {
      float: none !important;
      text-align: left !important;
    }

    .ac {
      text-align: center !important;
    }

    .h-0 {
      height: 0 !important;
    }

    .p-0 {
      padding: 0 !important;
    }

    .p-20 {
      padding: 20px !important;
    }

    .p-30 {
      padding: 30px !important;
    }

    .plr-0 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .plr-10 {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }

    .plr-15 {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    .plr-20 {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    .pt-20 {
      padding-top: 20px !important;
    }

    .pt-30 {
      padding-top: 30px !important;
    }

    .pb-20 {
      padding-bottom: 20px !important;
    }

    .pb-30 {
      padding-bottom: 30px !important;
    }

    .fs-16 {
      font-size: 16px !important;
      line-height: 20px !important;
    }

    .fs-20 {
      font-size: 20px !important;
      line-height: 30px !important;
    }

    .fs-24 {
      font-size: 24px !important;
      line-height: 32px !important;
    }

    .fs-28 {
      font-size: 28px !important;
      line-height: 36px !important;
    }

    .al {
      text-align: left !important;
    }

    .feedback-text {
      padding-bottom: 14px !important;
    }

  }

  :root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
  }

  [data-ogsc] .dark-img {
    display: block !important;
    width: auto !important;
    overflow: visible !important;
    float: none !important;
    max-height: inherit !important;
    max-width: inherit !important;
    line-height: auto !important;
    margin-top: 0px !important;
    visibility: inherit !important;
  }

  [data-ogsc] .light-img {
    display: none;
    display: none !important;
  }

  [data-ogsc] .darkmode0 {
    background-color: #1f212d !important;
  }

  [data-ogsc] .darkmode1 {
    background-color: #141622 !important;
  }

  [data-ogsc] .darkmode2 {
    background-color: #1f212d !important;
  }

  [data-ogsc] h1,
  [data-ogsc] h2,
  [data-ogsc] h3,
  [data-ogsc] p,
  [data-ogsc] span,
  [data-ogsc] td,
  [data-ogsc] b,
  [data-ogsc] ul,
  [data-ogsc] ol,
  [data-ogsc] li {
    color: #ffffff !important;
  }

  [data-ogsc] .link {
    color: #2962FF !important;
  }

  @media (prefers-color-scheme: dark) {
    .dark-img {
      display: block !important;
      width: auto !important;
      overflow: visible !important;
      float: none !important;
      max-height: inherit !important;
      max-width: inherit !important;
      line-height: auto !important;
      margin-top: 0px !important;
      visibility: inherit !important;
    }

    .light-img {
      display: none;
      display: none !important;
    }

    .darkmode0 {
      background-color: #1f212d !important;
    }

    .darkmode1 {
      background-color: #141622 !important;
    }

    .darkmode2 {
      background-color: #1f212d !important;
    }

    .darkmode3 {
      background-color: #3d3e46 !important;
    }

    h1,
    h2,
    h3,
    p,
    span,
    td,
    b,
    ul,
    ol,
    li {
      color: #ffffff !important;
    }

    .button {
      color: #2962FF !important;
    }

    .link {
      color: #2962FF !important;
    }
  }
</style>
<!--[if (mso)|(mso 16)]> 
  <style type="text/css"> a { text-decoration:none; } 
    .keep-white { mso-style-textfill-type:gradient; 
      mso-style-textfill-fill-gradientfill-stoplist:"0 #FFFFFF 0 100000,100000 #FFFFFF 0 100000"; 
      color:#000000 !important; } 
      ul, li {
        margin: 0 !important;
      }
    </style> 
<![endif]-->