{% set lang = "id" %}
{% set preheader = "Empat langkah mudah untuk mengeluarkan kemampuan analisis pasar di dalam diri anda. Chart kami sangat powerful dan kami tahu terdapat banyak hal yang perlu anda ketahui." %}
{% set logo_header_text = "Chart 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Bagaimana cara memulainya" %}

{% set button_link = "https://id.tradingview.com/chart" %}
{% set button_text = "Ayo mulai" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Hei,<br><br>Chart kami sangat powerful dan kami tahu cara untuk memahami anda. Jadi kami telah menulis beberapa dasar utama untuk membantu anda memulai petualangan.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Dimana saya memulai?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Saat anda membuka chart, itu akan menampilkan simbol default, atau simbol terakhir yang telah anda buka. Untuk mengubahnya, cukup klik atau mulai mengetik simbol / nama perusahaan.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://id.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Chart juga default ke layout&nbsp;<a href="https://id.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">candlestick</a> harian.&nbsp;Sesuaikan kerangka waktu anda dan pilih dari <a href="https://id.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12 tipe chart</a> menggunakan tab di sepanjang bagian atas chart.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://id.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Anda dapat menambahkan&nbsp;<a href="https://id.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">indikator</a> atau data fundamental menggunakan tab di bagian atas, dan dapatkan penjelasan untuk masing-masing indikator melalui tanda tanya di sebelah namanya pada layar menu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://id.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Terakhir, mulailah bermain dengan&nbsp;<a href="https://id.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">sisi navigasi</a> untuk menambahkan garis tren, bentuk-bentuk dan teks untuk menambahkan keterangan pada chart anda.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://id.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Itu saja untuk kali ini. Namun ini baru puncak dari gunung es dan cara terbaik untuk menjadi mahir adalah dengan mulai mengklik dan mengeksplorasi semua fitur kami.<br><br>Jangan lupa anda juga dapat mengumpulkan semua jenis tips, bantuan, dan informasi dari pengguna di komunitas kami yang bersahabat.<br><br>Siap mengeksplorasi?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Jangan lupa anda dapat mencoba akun Pro, Pro+, atau Premium kami selama 30 hari, <a href="http://id.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">sepenuhnya gratis</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_id.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_id.njk" %}
{% endblock %}