{% set lang = "pl" %}
{% set loc = "pl" %}
{% set preheader = "
Wypróbuj te cztery mniej znane narzędzia, aby analizować rynki na naprawdę profesjonalnym poziomie. Musisz opanować nasze podstawy tworzenia wykresów – teraz nadszedł czas na prawdziwą zabawę.
" %}

{% set logo_header_text = "
Uwolnij swój handel
" %}

{% set h1 = "
Zabierz nasze wykresy na spacer
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Cześć,<br><br>Musisz opanować podstawy tworzenia wykresów – teraz nadszedł czas na prawdziwą zabawę. Oto cztery z naszych najważniejszych narzędzi do wypróbowania.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Tryb wielu wykresów
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Skorzystaj z funkcji&nbsp;<a href="https://pl.tradingview.com/chart/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">wielu wykresów</a> w naszych płatnych planach, aby wyświetlić do ośmiu wykresów na kartę - tak znacznie łatwiej jest porównywać symbole i przełączać się między widokami.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Odtwarzanie Świeczek

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Aktywuj narzędzie&nbsp;<a href="https://pl.tradingview.com/chart/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Odtwarzania Świeczek</a>, by cofnąć wykres w czasie i odtworzyć rynek, dzięki czemu możesz przetestować swoje pomysły i przeanalizować strategie, zanim ich użyjesz.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Wykresy spreadów

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Rzuć okiem na&nbsp;<a href="https://pl.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">wykresy spreadów</a>, aby uzyskać wyjątkową perspektywę na rynkach i porównaj symbol z inną zmienną – taką jak na przykład wartość liczbowa lub inny symbol.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Interwały czasowe

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Przejdź na płatny plan, aby uzyskać pełniejszy zakres&nbsp;<a href="https://pl.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">interwałów czasowych</a>, od 1 sekundy do 1 miesiąca. W przypadku planu Premium możesz nawet ustawić własne niestandardowe interwały czasowe, aby dostroić konfigurację.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Na razie to wszystko. Gotowy na dalsze odkrywanie?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
Zaczynajmy
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Czas na kolejny duży skok? Nie zapomnij, że możesz przetestować nasze konta Pro, Pro+ lub Premium przez 30 dni, <a href="http://pl.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">całkowicie za darmo</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_pl.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_pl.njk" %}
{% endblock %}