{% set lang = "zh" %}
{% set preheader = "释放您内心的市场分析师的四个简单步骤。我们的图表非常强大，我们知道那里有很多事情要让您开动脑筋。" %}
{% set logo_header_text = "图表101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "如何开始" %}

{% set button_link = "https://cn.tradingview.com/chart" %}
{% set button_text = "我们开始吧" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

您好，<br><br>我们的图表非常强大，我们知道那里有很多事情要让您开动脑筋。因此，我们写了一些关键基础知识来帮助您开始旅程。
{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
我从哪里开始？
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

当您打开图表时，它将显示一个默认商品，或您打开的最后一个商品。如要更改，只需点击或开始输入商品代码/公司名称。

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://cn.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

此图表还默认为日<a href="https://cn.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">K线</a>布局。使用图表顶部的标签页调整您的时间周期并从<a href="https://cn.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12种图表类型</a>中选择。

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://cn.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

您可以使用顶部的标签页添加<a href="https://cn.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">指标</a>或基本面数据，并通过菜单屏幕上其名称旁边的问号获取每个指标的解释。

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://cn.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

最后，开始使用<a href="https://cn.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">侧边导航</a>添加趋势线、形状和文字来注释图表。

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://cn.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

现在就是这样。但这只是冰山一角，精通的最佳方法实际上就是点击并探索我们所有的功能。<br><br>不要忘记，您还可以从我们友好的用户社区收集各种提示、帮助和信息。<br><br>准备好探索了吗？

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

不要忘记您可以试用我们的Pro、Pro+或Premium帐户30天，<a href="http://cn.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">完全免费

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_cn.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_cn.njk" %}
{% endblock %}