{% set lang = "id" %}
{% set loc = "id" %}
{% set preheader = "Lakukan trading anda di mana pun dengan aplikasi finansial rating tinggi di App store. Jangan tinggalkan trading anda hanya pada Desktop - unduh TradingView Mobile secara gratis sekarang." %}
{% set logo_header_text = "Unduh gratis" %}

{% set h1 = "Semua yang anda butuhkan, pada-aplikasi" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Hai Max,<br><br>Tahukah anda bahwa kami memiliki <a href="https://www.tradingview.com/blog/id/we-are-officially-number-one-in-the-world-25885/" title="aplikasi keuangan berperingkat tertinggi" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">aplikasi keuangan berperingkat tertinggi</a> di App Store? Jangan tinggalkan trading anda hanya di Desktop – unduh TradingView Mobile gratis sekarang juga.

{% endblock %}

{% block reasonstitle %}

Berikut ini 6 alasan mendapatkannya:

{% endblock %}

{% block content1header %}

Notifikasi push

{% endblock %}

{% block content1 %}

Peringatan gratis kami berarti anda tidak akan pernah kehilangan peluang trading lagi.

{% endblock %}


{% block content2header %}

Daftar pantau

{% endblock %}

{% block content2 %}

Lacak harga simbol dengan lebih efektif melalui daftar dan kategori khusus, ditambah dengan menandai favorit anda.

{% endblock %}



{% block content3header %}

Chart

{% endblock %}
{% block content3 %}

Chart ikonik kami dioptimalkan untuk mobile, jadi anda dapat menganalisis, melacak, dan melakukan perdagangan pasar di mana pun.

{% endblock %}


{% block content4header %}

Trading Kertas

{% endblock %}
{% block content4 %}

Uji kemampuan dan ide trading anda dengan bebas-resiko melalui akun latihan.

{% endblock %}



{% block content5header %}

Ide and Berita

{% endblock %}
{% block content5 %}

Tetap up to date terhadap peristiwa keuangan terkini - ikuti penulis TradingView favorit anda, publikasikan ide dan bagikan pemikiran anda.

{% endblock %}


{% block content6header %}

Widget

{% endblock %}
{% block content6 %}

Lihat data penting pada layar utama anda dengan widget mobile yang dioptimalkan.

{% endblock %}



{% block afterword %}

Itu semua dan masih lebih banyak lagi. Beri tahu kami bagaimana anda bergabung.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_id.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_id.njk" %}
{% endblock %}