{% set lang = "he" %}
{% set loc = "il" %}
{% set preheader = "נסה את ארבעת הכלים הפחות מוכרים האלה לניתוח באמת ברמה אחרת. אך אתה צריך להתמודד עם יסודות הגרפים שלנו - עכשיו הגיע הזמן לתת לכלבלב הזה לצאת למשחק אמיתי" %}
{% set logo_header_text = "שחרר את המסחר שלך" %}

{% set h1 = "קח את הגרפים שלנו לסיבוב" %}



{% extends "welcome-D-03_template_rtl.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

היי ,<br><br>אתה צריך להתמודד עם יסודות הגרפים שלנו - עכשיו הגיע הזמן לתת לכלבלב הזה לצאת למשחק אמיתי. הנה ארבעה מהכלים החשובים ביותר שלנו להתנסות בהם.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Multiple charts

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

השתמש <a href="https://il.tradingview.com/chart/hBL0HfCj/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">בפונקציית ריבוי הגרפים</a> בתוכניות המשודרגות שלנו כדי להציג עד שמונה גרפים בכל כרטיסייה - הרבה יותר קל להשוואת סימולים ולמעבר בין תצוגות

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}




{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

הפעלה חוזרת של ברים

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

הפעל את הכלי <a href="https://il.tradingview.com/chart/hBL0HfCj/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">הפעלה חוזרת של ברים</a> כדי לדלג אחורה בזמן ולהפעיל שוב את תנועת השוק, כך שתוכל לבדוק את הרעיונות שלך ולנתח את האסטרטגיות שלך לפני שתשתמש בהם.
{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}


{% include "../templates/parts/_h2.njk" %}

גרפי מרווח

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

הסתכל על <a href="https://il.tradingview.com/chart/hBL0HfCj/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">גרפי המרווח</a> כדי לקבל פרספקטיבה ייחודית על השווקים, והשווה סימול למשתנה אחר - כגון ערך מספרי או סימול אחר.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

אינטרוולי זמן

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

שדרג לתוכנית בתשלום כדי לקבל טווח מלא יותר של <a href="https://il.tradingview.com/gopro/?solution=43000543883#" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">אינטרוולי זמן</a>, משנייה אחת עד חודש אחד - בנוסף עם תוכנית פרימיום תוכל אפילו להגדיר אינטרוולי זמן מותאמים אישית משלך כדי לכוונן את ההגדרה שלך.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}


זהו לעת עתה. מוכן לחקור עוד קצת?
{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
בוא נצא לדרך
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

הגיע הזמן לעשות את הקפיצה הגדולה הבאה שלך? אל תשכח שאתה יכול לקחת תקופת ניסיון בחשבונות פרו, פרו+ או פרימיום שלנו למשך 30 יום, <a href="https://il.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">בחינם לחלוטין</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_il.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_il.njk" %}
{% endblock %}