{% set lang = "zh" %}
{% set loc = "tw" %}
{% set preheader = "
請嘗試用這四種鮮為人知的工具來進行真正的系譜級別分析。為此你必須要了解我們圖表的基礎知識 — 是時候展現真正的技術了。
" %}

{% set logo_header_text = "
發揮您的交易技術
" %}

{% set h1 = "
帶著我們的圖表走一走
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

您好,<br><br>為此你需要了解我們圖表的基礎知識 — 是時候展現真正的技術了。接下來我們要使用以下四個最重要的工具。

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

多個圖表
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

使用我們升級方案中的<a href="https://tw.tradingview.com/chart/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">多圖表功能</a>，每個標籤頁最多可查看八個圖表 — 更容易比較商品和在視圖之間的切換。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

K線重播

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

啟用<a href="https://tw.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">K線重播</a>的工具可及時跳回並重播市場，這樣您就可以在實際使用之前測試您的想法並分析您的策略。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

價差圖表

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

查看<a href="https://tw.tradingview.com/chart/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">價差圖表</a>來獲得市場的特別視角，並將一個商品與另一個變數進行比較 — 例如數值或不同的商品。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

時間週期

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

升級到付費方案以獲得更全面的<a href="https://tw.tradingview.com/gopro/?solution=43000543883#compare" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">時間週期</a>，從1秒到1個月 — 藉由Premium方案，您甚至可以使用自訂的時間週期來微調您的設定。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

現在就是這樣。您準備好探索更多了嗎？

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
讓我們開始吧
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

是時候邁出你的下一個大躍進了嗎？別忘了您可以試用我們的Pro、Pro+或Premium帳戶30天，<a href="http://tw.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">完全免費</a>。

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_tw.njk" %}
{% endblock %}

{% block footer %}
{% include "../templates/parts/_footer_tw.njk" %}
{% endblock %}