{% set lang = "en" %}
{% set preheader = "Four simple steps for unleashing the market analyst within you. Our charts are super powerful and we know there’s simply a ton to get your head around." %}
{% set logo_header_text = "Chart 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "How to get going?" %}

{% set button_link = "https://www.tradingview.com/chart" %}
{% set button_text = "Let's go" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Hi,<br><br>Our charts are super powerful and we know there’s simply a ton to get your head around. So we’ve written up a few key basics to help get you started on your journey.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}

Where do I start?

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

When you open a chart, it’ll display a default symbol, or the last symbol you opened. To change, simply click or start typing the symbol / company name.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://www.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Where do I start?" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

The chart also defaults to a daily <a href="https://www.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">candlestick</a> 
layout. Adjust your timeframe and choose from <a href="https://www.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">17 chart types</a> using the tabs along the top of the chart.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://www.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Where do I start?" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

You can overlay <a href="https://www.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">indicators</a> or fundamental data using the tab at the top, and get explanations for each via the question mark next to their names on the menu screen.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title="Indicators" href="https://www.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Where do I start?" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Lastly, start playing with the <a href="https://www.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">side navigation</a> to add trendlines, shapes and text to annotate your charts.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://www.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

That’s it for now. But this is just the tip of the iceberg and the best way to get proficient is really just to click around and explore all our features.<br><br>Don’t forget you can also gather all kinds of tips, help, and information from our friendly community of users too.&nbsp;<br><br>Ready to explore?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Don’t forget you can test drive our Pro, Pro+, or Premium accounts for 30 days, <a href="https://tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">completely free</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer.njk" %}
{% endblock %}