{% set lang = "vi" %}
{% set loc = "vn" %}
{% set preheader = "Ban sẽ có thêm gì khác trên TradingView? Các trải nghiệm có thể sẽ dấn bạn đến những tính năng này." %}
{% set logo_header_text = "Bước tiếp theo" %}

{% set h1 = "Bạn đã thấy những điều này chưa?" %}



{% extends "welcome-D-05_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hey,<br><br>Bây giờ, bạn có thể đã có một cái nhìn tốt về nền tảng của chúng tôi. Vậy bạn có thể làm gì khác trên TradingView? Câu trả lời ngắn gọn, rất nhiều, nhưng bạn có thể nên bắt đầu từ:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

Xã hội

{% endblock %}

{% block content1 %}

Xem <a href="https://vn.tradingview.com/ideas/editors-picks/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Lựa chọn của ban biên tập</a> để có nguồn cảm hứng mới nhất và tuyệt vời nhất từ nhiều loại nội dung, tham gia các phòng trò chuyện đông đảo của chúng tôi để phân tích thời gian thực - thậm chí tạo <a href="https://vn.tradingview.com/ideas/chartart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">biểu đồ nghệ thuật</a> của riêng bạn.

{% endblock %}


{% block content2header %}

Tải xuống phần mềm

{% endblock %}

{% block content2 %}

Khai thác tối đa thị trường với <a href="https://vn.tradingview.com/desktop/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">ứng dụng dành cho máy tính</a>&nbsp;được thiết kế đặc biệt của chúng tôi. Nhận thêm sức mạnh, tốc độ và sự linh hoạt, tất cả với cùng một trải nghiệm người dùng mà bạn biết và yêu thích. Có sẵn cho PC, Mac và Linux.

{% endblock %}



{% block content3header %}

Bắt đầu học Pine Script

{% endblock %}
{% block content3 %}

Người thông minh xây dựng các chỉ báo thông minh và chiến lược mạnh mẽ. Chúng tôi đã thực hiện <a href="https://vn.tradingview.com/pine-script-docs/en/v4/Introduction.html" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Pine Script</a> để giúp họ. Ngôn ngữ lập trình độc quyền của chúng tôi rất dễ học, nhanh như chớp và được xây dựng cho bạn. Hãy dùng thử và xem nó có thể làm gì cho giao dịch của bạn.

{% endblock %}



{% block outro %}

Sẵn sàng khám phá?

{% endblock %}

{% set button_text = "Đi thôi nào" %}

{% block afterword %}

Đã đến lúc thực hiện bước nhảy vọt tiếp theo của bạn? Đừng quên bạn có thể thử tài khoản Pro, Pro + hoặc Premium của chúng tôi trong 30 ngày, <a href="https://vn.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">hoàn toàn miễn phí.</a>。

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_vn.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_vn.njk" %}
{% endblock %}