{% set lang = "de" %}
{% set preheader = "TradingView-Club. Wenn Sie den Mumm haben, haben wir die Werkzeuge und das Netzwerk, die Sie benötigen, um Ihren Weg an den Märkten zu finden." %}
{% set logo_header_text = "Hier beginnt Ihre Reise" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/slapstick.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/slapstick_dk.png" %}

{% set h1 = "Hallo, Trader." %}

{% set button_link = "https://de.tradingview.com/gopro" %}
{% set button_text = "Testzeitraum starten" %}

{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Willkommen bei TradingView – der Heimat der Charts, die wirklich von Bedeutung sind. Wenn Sie den Mumm haben, haben wir die Werkzeuge und das Netzwerk, die Sie benötigen, um Ihren Weg an den Märkten zu finden.<br><br>Jetzt, da Sie an Bord sind, können Sie direkt in die&nbsp;<a href="https://de.tradingview.com/chart/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Charts</a>&nbsp;eintauchen, Ihre Lieblingswerte verfolgen, Handelsideen finden, mit anderen chatten, Trends erkennen und Trades direkt auf unserer Plattform platzieren – und noch vieles mehr.<br><br>Zeit für Ihren nächsten großen Schritt? Vergessen Sie nicht, dass Sie unsere Pro-, Pro+- oder Premium-Abonnements 30 Tage lang&nbsp;völlig kostenfrei&nbsp;testen können.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Achten Sie darauf, dass Sie ein sicheres Passwort verwenden und die&nbsp;<a href="https://de.tradingview.com/u/#security" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Zwei-Faktor-Authentifizierung aktivieren</a>, um Ihr Konto zu schützen.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption_de.njk" %}
{% endblock %}

{% block footer %}
{% include "../templates/parts/_footer_de.njk" %}
{% endblock %}