{% set lang = "tr" %}
{% set preheader = "İçinizdeki piyasa analistini serbest bırakmak için dört basit adım. Grafiklerimiz süper güçlü ve kafanızı dağıtacak çok şey olduğunu biliyoruz." %}
{% set logo_header_text = "Grafik 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Nasıl yapılır" %}

{% set button_link = "https://tr.tradingview.com/chart" %}
{% set button_text = "Hadi başlayalım" %}


{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Selam,<br><br>Grafiklerimiz süper güçlü ve kafanızı dağıtacak çok şey olduğunu biliyoruz. Bu yüzden, yolculuğunuza başlamanıza yardımcı olacak birkaç temel adım bilgi yazdık.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Nereden başlamalıyım?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Bir grafiği açtığınızda, varsayılan bir sembolü veya açtığınız son sembolü görüntüler. Değiştirmek için simgeye / şirket adına tıklamanız veya yazmaya başlamanız yeterlidir.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://tr.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Grafik ayrıca varsayılan olarak günlük bir <a href="https://tr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">mum çubuğu</a> düzenine sahiptir. Zaman çerçevenizi ayarlayın ve grafiğin üst kısmındaki sekmeleri kullanarak <a href="https://tr.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">12 grafik türünden</a> birini seçin.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://tr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

En üstteki sekmeyi kullanarak <a href="https://tr.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">göstergeleri</a> veya temel verileri üst üste bindirebilir ve menü ekranında adlarının yanında bulunan soru işareti ile her biri için açıklama alabilirsiniz.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://tr.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Son olarak, grafiklerinize açıklama eklemek üzere trend çizgileri, şekiller ve metin eklemek için <a href="https://tr.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">yan gezinme</a> ile oynamaya başlayın.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://tr.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Şimdilik bu kadar. Ancak bu, buzdağının sadece görünen kısmı ve uzmanlaşmanın en iyi yolu, gerçekten sadece tıklayıp tüm özelliklerimizi keşfetmek gerek.<br><br>Ayrıca dost canlısı kullanıcı topluluğumuzdan da her türlü ipucu, yardım ve bilgiyi toplayabileceğinizi unutmayın.<br><br>Keşfetmeye hazır mısınız?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Pro, Pro+ veya Premium hesaplarımızı 30 gün boyunca <a href="http://tr.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">tamamen ücretsiz</a> olarak test edebileceğinizi unutmayın.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_tr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_tr.njk" %}
{% endblock %}