{% set lang = "th" %}
{% set preheader = "สี่ขั้นตอนง่ายๆ ในการปลดปล่อยนักวิเคราะห์ตลาดในตัวคุณ ชาร์ตของเรามีประสิทธิภาพมาก และเรารู้ว่าคุณมีเวลามากพอที่จะเรียนรู้มัน" %}
{% set logo_header_text = "ชาร์ต 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "วิธีการเดินทาง" %}

{% set button_link = "https://th.tradingview.com/chart" %}
{% set button_text = "ไปกันเลย" %}


{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

เฮ้,<br><br>ชาร์ตของเรามีประสิทธิภาพมาก และเรารู้ว่าคุณมีเวลาอีกมากพอสมควร ดังนั้นเราจึงได้เขียนข้อมูลพื้นฐานสำคัญสองสามข้อเพื่อช่วยให้คุณเริ่มต้นการเดินทางได้

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
ฉันจะเริ่มต้นที่ไหน?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

เมื่อคุณเปิดชาร์ต ชาร์ตจะแสดงสัญลักษณ์เริ่มต้นหรือสัญลักษณ์สุดท้ายที่คุณเปิด หากต้องการเปลี่ยน เพียงคลิกหรือเริ่มพิมพ์สัญลักษณ์/ชื่อบริษัท

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://th.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

ชาร์ตยังมีค่าเริ่มต้นเป็นเค้าโครง<a href="https://th.tradingview.com/chart/8gCHZTFQ/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">แท่งเทียน</a>รายวัน ปรับแต่งไทม์เฟรมของคุณ และเลือกประเภท<a href="https://th.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">ชาร์ต 12 ประเภท</a> โดยใช้แท็บที่ด้านบนของชาร์ต

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://th.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

คุณสามารถซ้อนทับ<a href="https://th.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">อินดิเคเตอร์</a> หรือข้อมูลพื้นฐานโดยใช้แท็บที่ด้านบน และดูคำอธิบายสำหรับแต่ละรายการผ่านเครื่องหมายคำถามข้างชื่อบนหน้าจอเมนู

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://th.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

สุดท้ายนี้ เริ่มเล่นด้วย<a href="https://th.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">เครื่องมือนำทางด้านข้าง</a>เพื่อเพิ่มเส้นแนวโน้ม, รูปร่าง และข้อความเพื่อใส่คำอธิบายประกอบชาร์ตของคุณ

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://th.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

เพียงเท่านี้สำหรับตอนนี้ แต่นี่เป็นเพียงส่วนเล็กๆ ของภูเขาน้ำแข็ง และวิธีที่ดีที่สุดในการทำให้เชี่ยวชาญก็คือ การคลิกไปรอบๆ และสำรวจคุณลักษณะทั้งหมดของเรา<br><br>อย่าลืมว่าคุณยังสามารถรวบรวมเคล็ดลับ, ความช่วยเหลือ และข้อมูลจากชุมชนผู้ใช้ที่เป็นมิตรของเราได้อีกด้วย<br><br>พร้อมที่จะสำรวจหรือยัง

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

อย่าลืมว่าคุณสามารถทดลองใช้งานบัญชี Pro, Pro+ หรือ Premium ของเราได้เป็นเวลา 30 วัน&nbsp;<a href="https://th.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">โดยไม่มีค่าใช้จ่ายใดๆ

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_th.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_th.njk" %}
{% endblock %}