{% set lang = "ms" %}
{% set loc = "my" %}
{% set preheader = "Bawa dagangan anda kemana-mana sahaja dengan aplikasi kewangan penarafan tertinggi di App store. Jangan tinggalkan dagangan anda hanya pada Atas Meja – muat turun TradingView Mobile secara percuma sekarang" %}
{% set logo_header_text = "Muat turun secara percuma" %}

{% set h1 = "Semua yang anda perlukan, di dalam aplikasi" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Hai,<br><br>Adakah anda tau bahawa kami telah mendapat&nbsp;<a href="https://www.tradingview.com/blog/my/we-are-officially-number-one-in-the-world-25885/" title="Highest rated finance app" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">aplikasi kewangan penarafan tertinggi</a>&nbsp;di dalam App Store? Jangan tinggalkan dagangan anda hanya pada Atas Meja – muat turun TradingView Mobile secara percuma sekarang.

{% endblock %}

{% block reasonstitle %}

Di sini ada 6 sebab untuk mendapatkannya:

{% endblock %}




{% block content1header %}

Pemberitahuan tolak

{% endblock %}

{% block content1 %}

Pemberitahuan percuma kami bermaksud anda tidak akan terlepas satu peluang dagangan lagi.

{% endblock %}




{% block content2header %}

Senarai Amatan

{% endblock %}

{% block content2 %}

Jejaki harga-harga simbol dengan lebih efektif menerusi senarai-senarai tersuai dan kategori-kategori, termasuk membenderakan simbol-simbol kegemaran anda.

{% endblock %}





{% block content3header %}

Carta

{% endblock %}
{% block content3 %}

Carta-carta ikonik kami adalah dioptimakan untuk mudah alih, supaya anda dapat menganalisa, menjejak, dan berdagang pasaran di mana-mana sahaja.

{% endblock %}




{% block content4header %}

Dagangan Kertas

{% endblock %}
{% block content4 %}

Uji bakat berdagang dan idea-idea anda tanpa risiko dengan satu akaun latihan.

{% endblock %}




{% block content5header %}

Idea dan Berita

{% endblock %}
{% block content5 %}

Sentiasa terkini dengan peristiwa-peristiwa kewangan – ikuti penulis-penulis TradingView kegemaran anda, terbitkan idea-idea dan kongsi apa yang anda fikirkan.

{% endblock %}




{% block content6header %}

Widget

{% endblock %}
{% block content6 %}

Lihat data penting pada skrin utama anda dengan widget mudah alih dioptimumkan kami.

{% endblock %}



{% block afterword %}

Semua itu dan banyak lagi. Beritahu kami bagaimanakah keadaan anda.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_my.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_my.njk" %}
{% endblock %}