{% set lang = "zh" %}
{% set loc = "cn" %}
{% set preheader = "用App Store中最受好评的金融app随时随地进行交易。不要只在电脑上交易 — 立即免费下载TradingView手机版。" %}
{% set logo_header_text = "免费下载" %}

{% set h1 = "您需要的一切，尽在app" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

您好，<br><br>您知道我们拥有在App Store中<a href="https://www.tradingview.com/blog/cn/we-are-officially-number-one-in-the-world-25885/" title="Highest rated finance app" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">评分最高的金融app</a>吗？不要只在电脑上交易 — 立即免费下载TradingView手机版。

{% endblock %}

{% block reasonstitle %}

这是获取它的6个理由：

{% endblock %}

{% block content1header %}

推送通知

{% endblock %}

{% block content1 %}

No我们的免费警报意味着您再也不会错过任何交易机会。

{% endblock %}


{% block content2header %}

自选表

{% endblock %}

{% block content2 %}

通过自定义列表和类别，以及标记您的收藏夹，更有效地跟踪商品价格。

{% endblock %}



{% block content3header %}

图表

{% endblock %}
{% block content3 %}

我们的标志性图表针对移动设备进行了优化，因此您可以在任何地方分析、跟踪和交易市场。
{% endblock %}


{% block content4header %}

模拟交易
{% endblock %}
{% block content4 %}

使用练习账户无风险地测试您的交易技巧和观点。
{% endblock %}



{% block content5header %}

观点和新闻
{% endblock %}
{% block content5 %}

及时了解最新的金融事件 — 关注您最喜爱的TradingView作者，发表观点并分享您的想法。
{% endblock %}


{% block content6header %}

插件

{% endblock %}
{% block content6 %}

使用我们优化的移动插件在您的主屏幕上查看关键数据。
{% endblock %}



{% block afterword %}
所有一切，远不止于此。让我们知道您觉得如何。
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_cn.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_cn.njk" %}
{% endblock %}