{% set lang = "ko" %}
{% set loc = "kr" %}
{% set preheader = "앱스토어에서 최고의 평가를 받은 트레이딩뷰 앱과 함께 어디에서든 트레이딩을 하십시오. 여러분의 트레이딩을 그저 데스크탑에만 맡겨 놓지 마십시오 – 지금 바로 트레이딩뷰 모바일 버전을 무료로 다운로드 받아 보십시오." %}
{% set logo_header_text = "무료 다운로드" %}

{% set h1 = "필요한 모든 것, 인-앱" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

안녕하세요,<br><br>여러분은 앱스토어에서 <a href="https://www.tradingview.com/blog/ko/we-are-officially-number-one-in-the-world-25885/" title="Highest rated finance app" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">가장 높은 평가를 받은 파이낸스 앱</a>인 것을 알고 있었나요? 여러분의 트레이딩을 데스크탑에만 맡겨 두지 마십시오 – 지금 바로 트레이딩뷰 모바일 버전을 무료로 다운로드하십시오.

{% endblock %}

{% block reasonstitle %}

모바일 버전이 필요한 6가지 까닭:

{% endblock %}




{% block content1header %}

푸쉬 알림

{% endblock %}

{% block content1 %}

무료 얼러트로 다시는 트레이딩 기회를 놓치지 마십시오.

{% endblock %}




{% block content2header %}

왓치리스트

{% endblock %}

{% block content2 %}

커스텀 리스트 및 카테고리, 플러스 페이버릿 플래그로 심볼 프라이스를 좀 더 효과적으로 트랙해 보십시오.

{% endblock %}





{% block content3header %}

Charts

{% endblock %}
{% block content3 %}

당사의 아이코닉 차트는 모바일에 최적화되어 있어, 어디서든 마켓 분석, 트랙, 및 트레이드할 수 있습니다.

{% endblock %}




{% block content4header %}

페이퍼 트레이딩

{% endblock %}
{% block content4 %}

연습 어카운트로 여러분의 트레이딩 스킬을 리스크 없이 테스트해 보십시오.

{% endblock %}




{% block content5header %}

아이디어 및 뉴스

{% endblock %}
{% block content5 %}

최신 파이낸셜 이벤트를 업데이트받아 보십시오 – 여러분의 페이버릿 트레이딩뷰 오써를 팔로우하고, 아이디어도 퍼블리쉬하며, 여러분의 생각도 셰어해 보십시오.

{% endblock %}




{% block content6header %}

위젯

{% endblock %}
{% block content6 %}

여러분의 홈스크린위에서 당사의 최적화된 모바일 위젯과 함께 주요 데이터를 보십시오.

{% endblock %}



{% block afterword %}

이 모든 것과 그 밖의 더 많은 것들이 있습니다.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_kr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_kr.njk" %}
{% endblock %}