{% set lang = "id" %}
{% set loc = "id" %}
{% set preheader = "
Cobalah empat alat yang kurang dikenal ini untuk beberapa analisis tingkat awal yang sebenarnya. Jadi, anda harus memahami dasar-dasar chart kami – sekarang saatnya membiarkan anak anjing ini memasuki permainan nyata.
" %}

{% set logo_header_text = "
Lancarkan trading anda
" %}

{% set h1 = "
Ajak chart kami berjalan-jalan
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hei,<br><br>Jadi anda telah memahami dasar-dasar chart kami – sekarang saatnya untuk mengajaknya ke permainan sesungguhnya. Berikut ini empat peralatan terpenting kami untuk dicoba selanjutnya.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Chart berganda
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Gunakan&nbsp;<a href="https://id.tradingview.com/chart/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">chart berganda&nbsp;</a>pada skema terupgrade kami untuk melihat hingga delapan chart per tab - lebih mudah untuk membandingkan simbol dan beralih antara tampilan.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Putar Ulang Bar

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Aktifkan peralatan&nbsp;<a href="https://id.tradingview.com/chart/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Putar Ulang Bar</a>&nbsp;untuk kembali ke masa lalu dan memutar ulang pasar, maka anda dapat menguji ide anda dan menganalisa strategi anda sebelum menggunakannya di pasar.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Chart spread

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Lihat pada&nbsp;<a href="https://id.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">chart spread</a>&nbsp;untuk mendapatkan sudut pandang yang unik terhadap pasar, dan bandingkan simbol dengan variabel lainnya – misalnya nilai bilangan atau simbol lainnya.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Interval waktu

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Tingkatkan ke skema berbayar untuk mendapatkan jangkauan yang lebih lengkap terhadap&nbsp;<a href="https://id.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">interval waktu</a>, mulai 1 detik hingga 1 bulan - ditambah dengan skema Premium anda bahkan dapat mengatur interval waktu khusus untuk untuk menyempurnakan pengaturan anda.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Itu saja kali ini, Siap untuk menjelajah lebih banyak?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
Ayo mulai
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Saatnya mengambil lompatan besar anda selanjutnya? Jangan lupa anda dapat mencoba akun Pro, Pro+ atau Premium selama 30 hari, <a href="http://id.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">gratis sepenuhnya</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_id.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_id.njk" %}
{% endblock %}