{% set lang = "de" %}
{% set loc = "de" %}
{% set preheader = "Was können Sie sonst noch auf TradingView tun? Eine Menge, aber Ihr Weg wird Sie wahrscheinlich selbst zu diesen Funktionen führen." %}
{% set logo_header_text = "Die nächsten, weiterführenden Schritte" %}

{% set h1 = "Haben Sie das schon gesehen?" %}



{% extends "welcome-D-05_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hey,<br><br>Inzwischen haben Sie sich wahrscheinlich schon ein wenig auf unserer Plattform umgesehen. Was können Sie sonst noch auf TradingView machen? Kurze Antwort: eine ganze Menge, aber Sie sollten hier beginnen:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

Nutzen Sie das soziale Netzwerk

{% endblock %}

{% block content1 %}

Editors’ Picks</a>&nbsp;an, um die neuesten und besten Inspirationen aus allen Anlageklassen zu erhalten, treten Sie unseren&nbsp; <a href="https://de.tradingview.com/chat/#general" target="_blank" style="color: #2962ff; outline: none!important; text-decoration: none!important;" rel="noopener">Chaträumen mit Millionen von Teilnehmern</a>&nbsp;bei, um Analysen in Echtzeit zu erhalten – Sie können sogar Ihre eigene <a href="https://de.tradingview.com/ideas/chartart/" target="_blank" style="color: #2962ff; outline: none!important; text-decoration: none!important;" rel="noopener">Chart Kunst</a>&nbsp;erstellen. Die Märkte waren noch nie so kontaktfreudig wie heute.

{% endblock %}


{% block content2header %}

Laden Sie unsere Desktop-App herunter

{% endblock %}

{% block content2 %}

Nutzen Sie die Märkte mit unserer speziell entwickelten&nbsp;<a href="https://de.tradingview.com/desktop/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Desktop-App</a>. Profitieren Sie von zusätzlicher Leistung, Geschwindigkeit und Flexibilität - und das alles mit der gleichen Benutzeroberfläche, die Sie kennen und lieben. Verfügbar für PC, Mac und Linux.

{% endblock %}



{% block content3header %}

Lernen Sie Pine Script

{% endblock %}
{% block content3 %}

Clevere Leute entwickeln intelligente Indikatoren und starke Strategien. Wir haben&nbsp;<a href="https://de.tradingview.com/pine-script-docs/en/v4/Introduction.html" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Pine Script</a> entwickelt, um ihnen zu helfen. Unsere selbst entwickelte Programmiersprache ist einfach zu erlernen, blitzschnell und für Sie entwickelt. Probieren Sie es aus und entdecken Sie, was es für Ihr Trading leisten kann.

{% endblock %}



{% block outro %}

Bereit zum Entdecken?

{% endblock %}

{% set button_text = "Los gehts" %}

{% block afterword %}

Zeit für Ihren nächsten großen Schritt? Vergessen Sie nicht, dass Sie unsere Pro-, Pro+- oder Premium-Abonnements 30 Tage lang&nbsp;<a href="https://de.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">völlig kostenfrei</a>&nbsp;testen können.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_de.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_de.njk" %}
{% endblock %}