{% set lang = "ar" %}
{% set preheader = "أربع خطوات بسيطة لإطلاق العنان لمحلل السوق بداخلك. المخططات الخاصة بنا قوية للغاية ونعلم أن هناك الكثير من الأمور التي يجب أن تدور حولك" %}
{% set logo_header_text = "الرسوم البيانية 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "كيف تبدأ" %}

{% set button_link = "https://ar.tradingview.com/chart" %}
{% set button_text = "فلنبدأ" %}



{% extends "welcome_template_rtl.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph_rtl.njk" %}

مرحبا ,<br><br>المخططات الخاصة بنا قوية للغاية ونعلم أن هناك الكثير من الأمور التي يجب أن تدور حولك. لذلك قمنا بكتابة بعض الأساسيات لمساعدتك على بدء رحلتك.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2_rtl.njk" %}
من أين أبدأ؟
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18_rtl.njk" %}

عند فتح مخطط ، سيعرض رمزًا افتراضيًا أو آخر رمز فتحته. للتغيير ، ما عليك سوى النقر أو البدء في كتابة الرمز / اسم الشركة.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://ar.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18_rtl.njk" %}

يتم تعيين الرسم البياني بشكل افتراضي على <a href="https://ar.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">مخطط الشموع</a> اليومي. اضبط الإطار الزمني واختر من بين <a href="https://ar.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12</a> <a href="https://ar.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">نوعًا من المخططات</a> باستخدام علامات التبويب على طول الجزء العلوي من الرسم البياني.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://ar.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18_rtl.njk" %}

يمكن تراكب <a href="https://ar.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">المؤشرات</a> أو البيانات الأساسية باستخدام علامة التبويب في الجزء العلوي ، والحصول على تفسيرات لكل منها عبر علامة الاستفهام الموجودة بجوار أسمائها على شاشة القائمة.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://ar.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18_rtl.njk" %}

أخيرًا ، ابدأ باللعب باستخدام <a href="https://ar.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">التنقل الجانبي</a> لإضافة خطوط الاتجاه والأشكال والنص للتعليق على مخططاتك.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://ar.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

هذا كل شيء في الوقت الراهن. ولكن هذا مجرد قطرة من فيض ، وأفضل طريقة للحصول على الكفاءة هي فقط النقر واستكشاف جميع ميزاتنا.<br><br>&nbsp;لا تنس أنه يمكنك أيضًا جمع كل أنواع النصائح والمساعدة والمعلومات من مجتمع المستخدمين الودود أيضًا.<br><br>جاهز للاستكشاف؟

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

لا تنس أنه يمكنك اختبار حسابات Pro أو Pro+ أو Premium لمدة 30 يومًا <a href="http://ar.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">مجانًا تمامًا</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_ar.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_ar.njk" %}
{% endblock %}