{% set lang = "en" %}
{% set loc = "www" %}
{% set preheader = "Take your trading anywhere with the top-rated finance app in the App store. Don’t leave your trading just on Desktop – download TradingView Mobile for free right now." %}
{% set logo_header_text = "Download for free" %}

{% set h1 = "Everything you need, in-app" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Hi,<br><br>Did you know we’ve got the <a href="https://www.tradingview.com/blog/en/we-are-officially-number-one-in-the-world-25885/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">highest-rated finance app</a> in the App Store? Don’t leave your trading just on Desktop – download TradingView Mobile for free right now.

{% endblock %}

{% block reasonstitle %}

Here’s 6 reasons to get it:

{% endblock %}

{% block content1header %}

Push notifications

{% endblock %}

{% block content1 %}

Our free alerts mean you’ll never miss a trading opportunity again.

{% endblock %}


{% block content2header %}

Watchlists

{% endblock %}

{% block content2 %}

Track symbol prices more effectively through custom lists and categories, plus flag your favorites.

{% endblock %}



{% block content3header %}

Charts

{% endblock %}
{% block content3 %}

Our iconic charts are optimized for mobile, so you can analyze, track, and trade markets anywhere.

{% endblock %}


{% block content4header %}

Paper Trading

{% endblock %}
{% block content4 %}

Test out your trading skills and ideas risk-free with a practice account.

{% endblock %}



{% block content5header %}

Ideas and News

{% endblock %}
{% block content5 %}

Keep up to date on the latest financial events – follow your favorite TradingView authors, publish ideas and share your thoughts.

{% endblock %}


{% block content6header %}

Widgets

{% endblock %}
{% block content6 %}

Keep up to date on the latest financial events – follow your favorite TradingView authors, publish ideas and share your thoughts.

{% endblock %}


{% block outro %}
Ready to explore?
{% endblock %}

{% block afterword %}
All that and so much more. Let us know how you get on.
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer.njk" %}
{% endblock %}