{% set lang = "pt" %}
{% set loc = "br" %}
{% set preheader = "Leve suas negociações para qualquer lugar com o aplicativo de finanças mais bem avaliado da App Store. Não deixe sua negociação apenas no Desktop – baixe agora mesmo de graça o TradingView para dispositivos móveis." %}
{% set logo_header_text = "Baixe de graça" %}

{% set h1 = "Tudo o que você precisa, em um app" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Oi,<br><br>Você sabia que temos o <a href="https://www.tradingview.com/blog/en/we-are-officially-number-one-in-the-world-25885/" title="Highest rated finance app" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">aplicativo de finanças mais bem avaliado</a> da App Store? Não deixe sua negociação apenas no Desktop – baixe agora mesmo de graça o TradingView para dispositivos móveis.

{% endblock %}

{% block reasonstitle %}

Aqui estão 6 razões para baixa-lo:

{% endblock %}

{% block content1header %}

Notificações push

{% endblock %}

{% block content1 %}

Nossos alertas gratuitos significam que você nunca mais vai perder uma oportunidade de negociação.

{% endblock %}


{% block content2header %}

Listas de observação

{% endblock %}

{% block content2 %}

Acompanhe os preços dos símbolos com mais eficiência através de listas e categorias personalizadas, além de destacar seus favoritos.

{% endblock %}



{% block content3header %}

Gráficos

{% endblock %}
{% block content3 %}

Nossos gráficos famosos são otimizados para dispositivos móveis, de forma que você pode analisar, rastrear e negociar nos mercados de qualquer lugar.

{% endblock %}


{% block content4header %}

Paper Trading

{% endblock %}
{% block content4 %}

Teste suas habilidades de negociação e ideias livre de riscos com uma conta para praticar.

{% endblock %}



{% block content5header %}

Ideias e Notícias

{% endblock %}
{% block content5 %}

Mantenha-se atualizado sobre os últimos eventos de finanças – siga seus autores favoritos do TradingView, publique ideias e compartilhe suas ideias.

{% endblock %}


{% block content6header %}

Widgets

{% endblock %}
{% block content6 %}

Keep up to date on the latest financial events – follow your favorite TradingView authors, publish ideas and share your thoughts.

{% endblock %}



{% block afterword %}
Tudo isso e muito mais. Conte para gente o que você achou.
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_br.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_br.njk" %}
{% endblock %}