{% set lang = "de" %}
{% set preheader = "Vier einfache Schritte, um den Marktanalysten in Ihnen zu entfesseln. Unsere Charts sind sehr leistungsstark und wir wissen, dass es viel zu verarbeiten gibt." %}
{% set logo_header_text = "Charting 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Wie Sie loslegen können" %}

{% set button_link = "https://de.tradingview.com/chart" %}
{% set button_text = "Los gehts" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Hey,<br><br>Unsere Charts sind sehr leistungsfähig, und wir wissen, dass es für Sie eine Menge zu lernen gibt. Deshalb haben wir ein paar wichtige Grundlagen zusammengestellt, die Ihnen den Einstieg erleichtern sollen.
{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Wo soll ich anfangen?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Wenn Sie einen Chart öffnen, wird ein Standardsymbol oder das zuletzt von Ihnen geöffnete Symbol angezeigt. Um dies zu ändern, klicken Sie einfach auf das Symbol oder geben Sie den Namen des Symbols oder den Namen des Unternehmens ein.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://de.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Der Chart ist außerdem standardmäßig auf ein tägliches <a href="https://de.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Candlestick</a>- Layout eingestellt.&nbsp;Passen Sie den Timeframe an und wählen Sie aus <a href="https://de.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12 Chart-Typen</a>, indem Sie die Tab am oberen Rand des Charts verwenden.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://de.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Über die Tabs am oberen Rand können Sie&nbsp;<a href="https://de.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Indikatoren</a>&nbsp;oder Fundamentaldaten einblenden und über das Fragezeichen neben den Namen im Menü, können Sie Erklärungen zu den einzelnen Indikatoren erhalten.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://de.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Und schließlich können Sie mit der <a href="https://de.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">seitlichen Navigationsleiste</a>&nbsp;spielen, um Trendlinien, Formen und Text hinzuzufügen, um Ihre Charts mit Anmerkungen und Markierungen auszustatten.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://de.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Das war's für den Moment. Aber das ist nur die Spitze des Eisbergs. Der beste Weg sich einzuarbeiten ist sich einfach durchzuklicken und alle unsere Funktionen selbst zu erkunden.<br><br>Vergessen Sie nicht, dass Sie auch alle möglichen Tipps, Hilfen und Informationen von unserer freundlichen Benutzergemeinschaft erhalten können.&nbsp;<br><br>Bereit zum Erkunden?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Vergessen Sie nicht, dass Sie unsere Pro-, Pro+- oder Premium-Abonnements 30 Tage lang <a href="http://de.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">völlig kostenfrei</a>&nbsp;testen können.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_de.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_de.njk" %}
{% endblock %}