{% set lang = "es" %}
{% set loc = "es" %}
{% set preheader = "
Pruebe estas cuatro herramientas menos conocidas para obtener un análisis verdaderamente pedigüeño. Como ya se ha familiarizado con los fundamentos de los gráficos – ahora es el momento de dejar que este cachorro salga a jugar de verdad.
" %}

{% set logo_header_text = "
Dé rienda suelta a su trading
" %}

{% set h1 = "
Saque a pasear nuestros gráficos
" %}

{% set button_text = "
¡Vamos!
" %}

{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hola Max,<br><br>Como ya se ha familiarizado con los fundamentos de nuestros gráficos – ahora es el momento de dejar que este cachorro salga a jugar de verdad. Aquí tiene cuatro de nuestras herramientas más importantes que debe probar a continuación.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Gráficos Múltiples
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Utilice la <a href="https://es.tradingview.com/chart/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">función de gráficos múltiples</a> en nuestros planes actualizados para ver hasta ocho gráficos por pestaña - lo cual facilita el comparar símbolos y cambiar de vistas.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Repetición de Barras

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Active la herramienta de <a href="https://es.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">repetición de barras</a> para retroceder en el tiempo y reproducir el mercado, de modo que pueda probar sus ideas y analizar sus estrategias antes de utilizarlas sobre el terreno.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Gráficos de Dispersión

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Eche un vistazo a los <a href="https://es.tradingview.com/chart/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">gráficos de diferenciales o spreads</a> para obtener una perspectiva única de los mercados, compare un símbolo con otra variable – como un valor numérico o un símbolo diferente.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Intervalos Temporales

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Actualice a un plan de pago para obtener una gama más completa de <a href="https://es.tradingview.com/gopro/?solution=43000543883#compare" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">intervalos temporales</a>, desde 1 segundo hasta 1 mes - además, con el plan Premium puede establecer sus propios intervalos de tiempo personalizados para perfeccionar su configuración.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Eso es todo por ahora. ¿Listo para explorar un poco más?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

¿Hora de dar su próximo gran salto? No olvide que puede probar nuestras cuentas Pro, Pro+ o Premium durante 30 días, de forma <a href="http://es.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">totalmente gratuita</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_es.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_es.njk" %}
{% endblock %}