{% set lang = "es" %}
{% set preheader = "Cuatro sencillos pasos para dar rienda suelta al analista bursátil que lleva dentro. Nuestros gráficos son súper potentes y sabemos que existen numerosas posibilidades a tener en cuenta." %}
{% set logo_header_text = "Gráficos 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Cómo empezar" %}

{% set button_link = "https://es.tradingview.com/chart" %}
{% set button_text = "¡Vamos!" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Hola,<br><br>Nuestros gráficos son súper potentes y es normal que aún no sepa todo lo que puede hacer con ellos. Es por eso que hemos redactado esta pequeña guía con algunos cuantos aspectos básicos para ayudarle a iniciar su viaje.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
¿Por dónde empiezo?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Cuando abra un gráfico, se mostrará un símbolo por defecto, o el último símbolo que haya abierto. Para cambiarlo, simplemente haga clic o empiece a escribir el símbolo / nombre de la empresa.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://es.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

l gráfico también tiene por defecto una plantilla de <a href="https://es.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">velas</a> diarias. Ajuste su marco temporal y elija entre <a href="https://es.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">12 tipos de gráficos</a> utilizando las pestañas de la parte superior del gráfico.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://es.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Puede añadir <a href="https://es.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">indicadores</a> o datos fundamentales utilizando la pestaña de la parte superior, y obtener explicaciones de cada uno a través del signo de interrogación que aparece junto a sus nombres en la pantalla del menú.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://es.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Por último, empiece a jugar con la <a href="https://es.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">navegación lateral</a> para añadir líneas de tendencia, figuras y texto para anotar sus gráficos.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://es.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Eso es todo por ahora. Pero tenga en cuenta que esto es sólo la punta del iceberg. La mejor manera de dominar el tema es explorando todas nuestras funciones una y otra vez.<br><br>No olvide que también puede reunir todo tipo de consejos, ayuda e información de nuestra amable comunidad de usuarios.<br><br>¿Listo para explorar?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

No olvide que puede probar nuestras versiones Pro, Pro+ o Premium durante 30 días, de forma <a href="https://es.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">totalmente gratuita</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_es.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_es.njk" %}
{% endblock %}