{% set lang = "vi" %}
{% set preheader = "Bốn bước đơn giản để giải phóng nhà phân tích thị trường trong bạn. Biểu đồ của chúng tôi cực kỳ mạnh mẽ với rất nhiều tiện ích để giúp bạn hiểu rõ hơn." %}
{% set logo_header_text = "Biểu đồ 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Cách bắt đầu" %}

{% set button_link = "https://vn.tradingview.com/chart" %}
{% set button_text = "Bắt đầu" %}


{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Xin chào,<br><br>Biểu đồ của chúng tôi cực kỳ mạnh mẽ và chúng tôi biết rằng có rất nhiều thứ để giúp bạn hiểu rõ hơn. Vì vậy, chúng tôi đã viết ra một số điều cơ bản chính để giúp bạn bắt đầu hành trình của mình.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Bắt đầu từ đâu?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Khi bạn mở biểu đồ, biểu đồ sẽ hiển thị mã mặc định hoặc mã cuối cùng bạn đã mở. Để thay đổi, chỉ cần nhấp hoặc bắt đầu nhập mã/tên công ty.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://vn.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Biểu đồ mặc định sẽ là biểu đồ <a href="https://vn.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">nến</a> khung thời gian ngày.&nbsp;Điều chỉnh khung thời gian của bạn và chọn từ <a href="https://vn.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12 loại biểu đồ</a> bằng cách sử dụng các tab phía trên biểu đồ.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://vn.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Bạn có thể phủ các <a href="https://vn.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">chỉ số</a> hoặc dữ liệu cơ bản bằng cách sử dụng tab ở trên cùng và xem giải thích cho từng chỉ số thông qua dấu chấm hỏi bên cạnh tên của chúng trên màn hình menu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://vn.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Cuối cùng, hãy bắt đầu trải nghiệm với <a href="https://vn.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">các công cụ bên trái</a> để thêm đường xu hướng, hình dạng và văn bản để chú thích biểu đồ của bạn.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://vn.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Vậy đó. Nhưng đây chỉ là phần nổi của tảng băng chìm và cách tốt nhất để thành thạo là chỉ cần nhấp vào nút và khám phá tất cả các tính năng của chúng tôi.<br><br>Đừng quên bạn cũng có thể thu thập tất cả các loại mẹo, trợ giúp và thông tin từ cộng đồng người dùng thân thiện của chúng tôi.<br><br>Sẵn sàng khám phá?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Đừng quên bạn có thể thử tài khoản Pro, Pro + hoặc Premium của chúng tôi trong 30 ngày, <a href="https://vn.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">hoàn toàn miễn phí</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_vn.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_vn.njk" %}
{% endblock %}