{% set lang = "th" %}
{% set loc = "th" %}
{% set preheader = "คุณสามารถทำอะไรได้อีกใน TradingView? มีคำตอบมากมาย แต่การเดินทางของคุณอาจนำไปสู่คุณสมบัติเหล่านี้" %}
{% set logo_header_text = "ต่อไป, ขั้นตอนต่อไป" %}

{% set h1 = "คุณเห็นสิ่งเหล่านี้หรือยัง" %}



{% extends "welcome-D-05_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

เฮ้,<br><br>ถึงตอนนี้ คุณคงมองเห็นแพลตฟอร์มของเราได้ดีแล้ว แล้วคุณทำอะไรได้อีกใน TradingView? คำตอบสั้น ๆ มากมาย แต่คุณควรเริ่มที่นี่:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

เข้าสังคม

{% endblock %}

{% block content1 %}

ตรวจสอบ<a href="https://th.tradingview.com/ideas/editors-picks/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">การคัดสรรโดยบรรณาธิการ</a> เพื่อหาแรงบันดาลใจล่าสุดและดีที่สุดจากเนื้อหาทุกประเภท เข้าร่วมห้องสนทนาที่<a href="https://th.tradingview.com/chat/#general" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">แข็งแกร่งนับล้าน</a>ของเราสำหรับการวิเคราะห์แบบเรียลไทม์ แม้กระทั่งสร้าง<a href="https://th.tradingview.com/ideas/chartart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">ชาร์ตด้วยศิลปะ</a>ของคุณเอง ตลาดไม่เคยเป็นสังคมมากมากเท่านี้มาก่อน

{% endblock %}


{% block content2header %}

ดาวน์โหลดแอปเดสก์ท็อปของเรา

{% endblock %}

{% block content2 %}

ใช้ประโยชน์สูงสุดจากตลาดด้วย<a href="https://th.tradingview.com/desktop/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">แอพเดสก์ท๊อป</a>ที่ออกแบบมาเป็นพิเศษของเรา รับพลัง ความเร็ว และความยืดหยุ่นพิเศษ ทั้งหมดนี้ด้วย UX เดียวกันกับที่คุณรู้จักและชื่นชอบ ใช้ได้กับ PC, Mac และ Linux

{% endblock %}



{% block content3header %}

เริ่มเรียนรู้ Pine Script

{% endblock %}
{% block content3 %}

คนฉลาดสร้างตัวชี้วัดที่ชาญฉลาดและกลยุทธ์ที่แข็งแกร่ง เราทำ&nbsp;<a href="https://th.tradingview.com/pine-script-docs/en/v4/Introduction.html" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Pine Script</a> เพื่อช่วยพวกเขา ภาษาการเขียนโปรแกรมที่เป็นกรรมสิทธิ์ของเรานั้นเรียนรู้ได้ง่าย, รวดเร็ว และสร้างมาเพื่อคุณ ลองใช้งานและดูว่าสามารถทำอะไรได้บ้างสำหรับการซื้อขายของคุณ

{% endblock %}



{% block outro %}

พร้อมที่จะสำรวจหรือยัง?

{% endblock %}

{% set button_text = "ไปกันเลย" %}

{% block afterword %}

ถึงเวลาก้าวกระโดดครั้งใหญ่ครั้งต่อไปแล้วหรือยัง? อย่าลืมว่าคุณสามารถทดลองใช้บัญชี Pro, Pro+ หรือ Premium ของเราได้เป็นเวลา 30 วัน<a href="https://th.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">โดยไม่เสียค่าใช้จ่ายใดๆ

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_th.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_th.njk" %}
{% endblock %}