{% set lang = "it" %}
{% set preheader = "Quattro semplici step per ottenere il massimo dalle tue analisi. I nostri grafici sono super potenti ed è bene che tu conosca tutto quello che puoi farci." %}
{% set logo_header_text = "L'ABC dei grafici" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Come cominciare" %}

{% set button_link = "https://it.tradingview.com/chart" %}
{% set button_text = "Andiamo" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Ciao,<br><br>I nostri grafici sono super potenti ed è bene che tu conosca tutto quello che puoi farci. Questa è una piccola guida per darti il via.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Dove inizio?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Quando apri un grafico, viene mostrato il simbolo di default, oppure l'ultimo che stavi analizzando. Se vuoi cambiarlo, clicca sul nome in alto ed inizia a digitare la società o il ticker che stai cercando.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://it.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Di default, i grafici&nbsp; mostrano un grafico giornaliero a&nbsp;<a href="https://it.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">candele</a>. Cambia il timeframe e scegli tra&nbsp;<a href="https://it.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12 tipologie di grafico</a>&nbsp;usando i pulsanti nella parte superiore del grafico.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://it.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Puoi aggiungere&nbsp;<a href="https://it.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">indicatori</a>&nbsp;o dati fondamentali con l'apposita funzione nella barra in alto. Troverai un punto di domanda a fianco di varie voci: cliccaci per avere spiegazioni su cosa rappresenti quell'indicatore.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://it.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Infine, dai un'occhiata alla&nbsp;<a href="https://it.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">barra laterale</a>&nbsp;con cui puoi aggiungere trendline, forme geometriche o strumenti di testo al grafico.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://it.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Per ora è tutto. Ma sappi che si tratta della punta dell'iceberg. Il modo migliore per imparare è esplorare da solo tutto ciò che vedi.<br><br>Non dimenticare che puoi ottenere suggerimenti o consigli dagli altri membri della community.&nbsp;<br><br>Pronto a partire?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Ricorda che puoi provare&nbsp;<a href="http://it.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">gratuitamente&nbsp;</a>per 30 giorni uno qualsiasi dei nostri abbonamenti Pro, Pro+ o Premium.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_it.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_it.njk" %}
{% endblock %}