{% set lang = "fr" %}
{% set preheader = "Quatre étapes simples pour libérer l'analyste de marché qui est en vous. Nos graphiques sont super puissants et nous savons qu'il y a énormément de choses à comprendre." %}
{% set logo_header_text = "Les graphiques, leçon no 1" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Comment s'y prendre" %}

{% set button_link = "https://fr.tradingview.com/chart" %}
{% set button_text = "C'est parti!" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Salut,<br><br>Nos graphiques sont très puissants et nous savons qu'il y a beaucoup à apprendre. Nous avons donc rédigé quelques principes de base pour vous aider à démarrer votre parcours.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Où commencer?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Lorsque vous ouvrez un graphique, il affiche un symbole par défaut, ou le dernier symbole que vous avez ouvert. Pour changer, il suffit de cliquer ou de commencer à taper le symbole / nom de la compagnie.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://fr.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Le graphique est également présenté par défaut sous forme de <a href="https://fr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">chandelier</a> quotidien. Ajustez votre horizon temporel et choisissez parmi <a href="https://fr.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">12 types de graphiques</a> à l'aide des onglets situés en haut du graphique.
{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://fr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Vous pouvez superposer des <a href="https://fr.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">indicateurs</a> ou des données fondamentales à l'aide de l'onglet situé en haut de l'écran, et obtenir des explications pour chacun d'eux grâce au point d'interrogation situé à côté de leur nom dans l'écran de menu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://fr.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Enfin, commencez à utiliser la <a href="https://fr.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">navigation latérale</a> pour ajouter des lignes de tendance, des formes et du texte pour annoter vos graphiques.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://fr.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

C'est tout pour l'instant. Mais ce n'est que la partie émergée de l'iceberg et la meilleure façon de se perfectionner est de cliquer et d'explorer toutes nos fonctionnalités.<br><br>N'oubliez pas que vous pouvez également recueillir toutes sortes de conseils, d'aide et d'informations auprès de notre sympathique communauté d'utilisateurs.&nbsp;<br><br>Prêt/e à explorer?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

N'oubliez pas que vous pouvez tester nos comptes Pro, Pro+ ou Premium pendant 30 jours, <a href="http://fr.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">totalement gratuitement.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_fr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_fr.njk" %}
{% endblock %}