{% set lang = "de" %}
{% set loc = "de" %}
{% set preheader = "
Probieren Sie diese vier weniger bekannten Tools für eine echte Analyse auf hohem Niveau aus. Sie haben nun die Grundlagen der Chartanalyse kennengelernt – jetzt ist es an der Zeit, diese Werkzeuge richtig einzusetzen.
" %}

{% set logo_header_text = "
Entfachen Sie Ihr Trading
" %}

{% set h1 = "
Unternehmen Sie einen Spaziergang mit unseren Charts
" %}

{% set button_text = "
Weiter gehts
" %}

{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hey,<br><br>Sie haben also unsere Charting-Grundlagen in den Griff bekommen –&nbsp;jetzt ist es an der Zeit, den Welpen für ein richtiges Spiel herauszulassen. Hier sind vier unserer wichtigsten Tools, die Sie als nächstes ausprobieren sollten.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Multiple Charts
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Nutzen Sie die&nbsp;<a href="https://de.tradingview.com/chart/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Multi-Chart-Funktion</a>&nbsp;unserer leistungsstarken Abonnements, um bis zu acht Charts pro Tab anzeigen zu lassen - das erleichtert den Vergleich von Symbolen und den Wechsel zwischen verschiedenen Ansichten.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Bar Replay

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Aktivieren Sie das Tool&nbsp;<a href="https://de.tradingview.com/chart/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Bar Replay</a>, um in der Zeit zurückzuspringen und den dann erneut abzuspielen. Damit können Sie Ihre Ideen und Strategien testen, bevor diese in der freien Wildbahn eingesetzt werden.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Spread Charts

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Werfen Sie einen Blick auf <a href="https://de.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Spread Charts</a>, um eine einzigartige Perspektive auf die Märkte zu erhalten und vergleichen Sie ein Symbol mit einer anderen Variable – wie einem numerischen Wert oder einem anderen Symbol.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Zeitliche Intervalle

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Wenn Sie auf einen kostenpflichtigen Abonnement wechseln, erhalten Sie eine größere Auswahl an <a href="https://de.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Zeit-Intervallen</a>, von 1 Sekunde bis zu 1 Monat - und mit einem Premium-Abo können Sie sogar Ihre eigenen Zeit-Intervalle einstellen, um Ihr Setup weiter zu optimieren.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Das war's für dieses Mal. Sind Sie bereit, noch mehr zu entdecken?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Zeit für Ihren nächsten großen Schritt? Vergessen Sie nicht, dass Sie unsere Pro-, Pro+- oder Premium-Abonnement 30 Tage lang <a href="http://de.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">völlig kostenfrei</a>&nbsp;testen können.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_de.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_de.njk" %}
{% endblock %}