{% set lang = "ar" %}
{% set loc = "ar" %}
{% set preheader = "جرب هذه الأدوات الأربعة الأقل شهرة لتحليل مستوى النسب حقًا. لذلك عليك أن تفهم أساسيات الرسم البياني لدينا - حان الوقت الآن للسماح لهذا الجرو بالخروج للعب حقيقي" %}
{% set logo_header_text = "أطلق العنان لتداولك" %}

{% set h1 = "خذ جولة حول مخططاتنا" %}



{% extends "welcome-D-03_template_rtl.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

مرحبا ,<br><br>لذلك عليك أن تفهم أساسيات الرسم البياني لدينا - حان الوقت الآن للتعرف على المزيد. فيما يلي أربعة من أهم أدواتنا لتجربتها بعد ذلك.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

رسوم بيانية متعددة

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

استخدم <a href="https://ar.tradingview.com/chart/?solution=43000629990" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">وظيفة المخططات المتعددة</a> في خططنا التي تمت ترقيتها لعرض ما يصل إلى ثمانية مخططات لكل علامة تبويب - أسهل بكثير لمقارنة الرموز والتبديل بين طرق العرض.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}




{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

إعادة رسم الشموع

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

قم بتنشيط أداة إعادة الرسم <a href="https://ar.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Bar Replay</a> للتخطي في الوقت المناسب وإعادة تشغيل السوق ، حتى تتمكن من اختبار أفكارك وتحليل استراتيجياتك قبل استخدامها في التداول الفعلي.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}


{% include "../templates/parts/_h2.njk" %}

مخططات الفروق

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

قم بإلقاء نظرة على <a href="https://ar.tradingview.com/chart/?solution=43000502298" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">مخططات الفروق</a> للحصول على منظور فريد للأسواق ، وقارن رمزًا بمتغير آخر - مثل قيمة رقمية أو رمز مختلف.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}

{% include "../templates/parts/_h2.njk" %}

الإطارات الزمنية

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

قم بالترقية إلى خطة مدفوعة للحصول على مجموعة كاملة من ا<a href="https://ar.tradingview.com/gopro/?solution=43000543883#compare" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">لفواصل الزمنية</a> ، من ثانية واحدة إلى شهر واحد - بالإضافة إلى خطة Premium ، يمكنك حتى تعيين فترات زمنية مخصصة لضبط الإعداد الخاص بك.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}


هذا كل شيء في الوقت الراهن. هل أنت جاهز لاستكشاف المزيد؟
{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
فلنبدأ
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

حان الوقت لاتخاذ القفزة الكبيرة التالية الخاصة بك؟ لا تنس أنه يمكنك اختبار حسابات Pro أو Pro+ أو Premium لمدة 30 يومًا<a href="http://ar.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"> مجانًا تمامًا</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_ar.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_ar.njk" %}
{% endblock %}