{% set lang = "he" %}
{% set loc = "il" %}
{% set preheader = "עוד אתה יכול לעשות ב
.טונות, אבל המסע שלך כנראה יוביל לתכונות האלה" %}
{% set logo_header_text = "הלאה, הצעדים הבאים" %}

{% set h1 = "כבר ראית את זה?" %}



{% extends "welcome-D-05_template_rtl.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

היי ,<br><br>עד עכשיו כבר בטח יצא לך להסתכל על הפלטפורמה שלנו. אז מה עוד אתה יכול לעשות&nbsp; תשובה קצרה, המון, אבל כנראה שתתחיל כאן&nbsp;?TradingView ב:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

לך על החברתי

{% endblock %}

{% block content1 %}

בדוק את <a href="https://il.tradingview.com/ideas/editors-picks/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">בחירות העורכים</a> לקבלת ההשראה העדכנית והטובה ביותר מכל מחלקות הנכסים, הצטרף <a href="https://il.tradingview.com/chat/#general" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">לחדרי הצ'אט החזקים שלנו</a> לניתוח בזמן אמת - אפילו צור<a href="https://il.tradingview.com/ideas/chartart/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;"> גרפים עם גרפיקה משלך</a>. השווקים מעולם לא היו חברתיים יותר.

{% endblock %}


{% block content2header %}

הורד את אפליקציית שולחן העבודה שלנו

{% endblock %}

{% block content2 %}

הפק את המרב מהשווקים עם <a href="https://il.tradingview.com/desktop/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">אפליקציית שולחן העבודה</a> המעוצבת במיוחד שלנו. קבל תוספת כוח, מהירות וגמישות, והכל עם אותו UX שאתה מכיר ואוהב Linux PC, Mac זמין עבור

{% endblock %}



{% block content3header %}

התחל ללמוד Pine&nbsp;סקריפט

{% endblock %}
{% block content3 %}

אנשים חכמים בונים אינדיקטורים חכמים ואסטרטגיות חזקות. הכנוו כדי לעזור להם&nbsp;<a href="https://il.tradingview.com/pine-script-docs/en/v4/Introduction.html" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Pine Script</a><br>שפת התכנות הקניינית שלנו פשוטה ללמידה, מהירה בזק ובנויה עבורך. נסה את זה וראה מה זה יכול לעשות עבור המסחר שלך.

{% endblock %}



{% block outro %}

מוכן לחקור?

{% endblock %}

{% set button_text = "בוא נצא לדרך" %}

{% block afterword %}

הגיע הזמן לעשות את הקפיצה הגדולה הבאה שלך? אל תשכח שאתה יכול לקחת נסיעת מבחן בחשבונות פרו, פרו+ או פרימיום שלנו למשך 30 יום, <a href="https://Il.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">בחינם לחלוטין</a>.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_il.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_il.njk" %}
{% endblock %}