{% set lang = "it" %}
{% set loc = "it" %}
{% set preheader = "
Prova queste quattro funzionalità meno conosciute per andare a fondo nelle tue analisi, così da sbloccare il tuo potenziale quando si tratta di fare trading.
" %}

{% set logo_header_text = "
Sblocca le tue potenzialità
" %}

{% set h1 = "
Approfondisci le tue conoscenze
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Ciao,<br><br>Ora che hai appreso le basi per operare sui nostri grafici, è il momento di fare un passo aggiuntivo e scoprire alcuni segreti per andare più a fondo. Ecco quattro strumenti che ti consigliamo di utilizzare.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Grafici multipli
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Usa la&nbsp;<a href="https://it.tradingview.com/chart/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">funzionalità multi grafico</a>&nbsp;con uno dei nostri abbonamenti per visualizzare fino a otto grafici per ogni scheda. Sarà molto più semplice fare confronti o analizzare diversi timeframe.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Bar Replay

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Attiva la modalità&nbsp;<a href="https://it.tradingview.com/chart/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Bar Replay</a>&nbsp;per andare indietro nel tempo e rivivere il mercato come se fossi lì in quel momento. Testa le tue idee e le tue strategie così da essere pronto quando si presenterà l'occasione.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Grafici spread

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Scopri come funzionano i&nbsp;<a href="https://it.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">grafici spread</a>&nbsp;per ottenere una prospettiva unica sui mercati e mettere in relazione aritmetica più strumenti tra loro. Puoi eseguire qualsisi operazione su tutti gli strumenti che vuoi.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Timeframe

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Passa ad uno dei nostri abbonamenti per ottere&nbsp;<a href="https://it.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">più timeframe</a>, da 1 secondo ad 1 mese. E con il piano Premium puoi anche collegare dei timeframe personalizzati al tuo layout di lavoro.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Per ora è tutto. Sei pronto a provare?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
Andiamo
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Ricorda che puoi provare&nbsp;<a href="http://it.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">gratuitamente</a>&nbsp;per 30 giorni uno qualsiasi dei nostri abbonamenti Pro, Pro+ o Premium.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_it.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_it.njk" %}
{% endblock %}