{% set lang = "id" %}
{% set loc = "id" %}
{% set preheader = "Apa lagi yang dapat anda lakukan di TradingView? Banyak sekali, namun perjalanan anda mungkin akan membawa anda ke fitur-fitur ini." %}
{% set logo_header_text = "Langkah selanjutnya" %}

{% set h1 = "Sudahkah anda melihat ini?" %}



{% extends "welcome-D-05_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hei,<br><br>Hingga saat ini anda mungkin telah melihat di sekitar platform kami. Jadi apa lagi yang dapat anda lakukan di TradingView? Jawaban singkat, panjang, namun sebaiknya anda mulai dari sini:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

Bersosialisasi

{% endblock %}

{% block content1 %}

Periksa&nbsp;<a href="https://id.tradingview.com/ideas/editors-picks/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Plihan Editor</a> untuk inspirasi terbaru dan terbaik dari seluruh kelas aset, bergabung dengan <a href="https://id.tradingview.com/chat/#general" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">jutaan ruang obrolan</a> kami untuk analisis real time - bahkan membuat <a href="https://id.tradingview.com/ideas/chartart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">seni chart</a> anda sendiri.&nbsp;Pasar tidak pernah lebih sosial dari ini.

{% endblock %}


{% block content2header %}

Unduh aplikasi desktop kami

{% endblock %}

{% block content2 %}

Maksimalkan pasar dengan <a href="https://id.tradingview.com/desktop/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">aplikasi desktop</a> kami yang dirancang khusus.</span>&nbsp;Dapatkan tambahan kekuatan, kecepatan dan fleksibilitas, semuanya dengan UX yang sama yang anda ketahui dan anda sukai. Tersedia untuk PC, Mac, dan Linux.

{% endblock %}



{% block content3header %}

Mulai pelajari Skrip Pine

{% endblock %}
{% block content3 %}

Orang-orang pintar membangun indikator pintar dan strategi yang kuat. Kami membuat <a href="https://id.tradingview.com/pine-script-docs/en/v4/Introduction.html" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Skrip Pine</a> untuk membantu mereka. Bahasa pemrograman mandiri kami cukup mudah untuk dipelajari, secepat kilat dan dibangun untuk anda. Cobalah dan lihat apa yang bisa dilakukannya untuk trading anda.

{% endblock %}



{% block outro %}

Siap menjelajah?

{% endblock %}

{% set button_text = "Ayo mulai" %}

{% block afterword %}

Saatnya mengambil lompatan besar anda selanjutnya? Jangan lupa anda dapat mencoba akun Pro, Pro+ atau Premium selama 30 hari, <a href="https://id.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">semuanya gratis</a>.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_id.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_id.njk" %}
{% endblock %}