{% set lang = "es" %}
{% set loc = "es" %}
{% set preheader = "Nehmen Sie Ihr Trading, mit der am besten bewerteten Finanz-App im App-Store überallhin mit. Erleben Sie Trading nicht nur auf dem Desktop – laden Sie TradingView Mobile jetzt kostenlos herunter." %}
{% set logo_header_text = "Descárguela gratuitamente" %}

{% set h1 = "Todo lo que necesita, en la app" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Hola,<br><br>¿Sabía que tenemos la <a href="https://www.tradingview.com/blog/es/we-are-officially-number-one-in-the-world-25885/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">aplicación de finanzas mejor valorada</a> de la App Store? No deje su trading sólo en el escritorio – descargue TradingView Mobile de forma totalmente gratuita ahora mismo.

{% endblock %}

{% block reasonstitle %}

6 razones para descargarla:

{% endblock %}

{% block content1header %}

Notificaciones emergentes

{% endblock %}

{% block content1 %}

Nuestras alertas gratuitas significan que nunca más se perderá una oportunidad de trading.

{% endblock %}


{% block content2header %}

Listas de seguimiento

{% endblock %}

{% block content2 %}

Realice un seguimiento más eficaz de los precios de los símbolos mediante listas y categorías personalizadas, además de marcar sus favoritos.

{% endblock %}



{% block content3header %}

Gráficos

{% endblock %}
{% block content3 %}

Nuestros emblemáticos gráficos están optimizados para el móvil, para que pueda analizar, seguir y operar los mercados desde cualquier lugar.

{% endblock %}


{% block content4header %}

Paper Trading

{% endblock %}
{% block content4 %}

Pruebe sus habilidades e ideas de trading sin riesgo con una cuenta demo.

{% endblock %}



{% block content5header %}

Ideas y Noticias

{% endblock %}
{% block content5 %}

Manténgase al día de los últimos acontecimientos financieros – siga a sus autores favoritos de TradingView, publique ideas y comparta sus pensamientos.

{% endblock %}


{% block content6header %}

Widgets

{% endblock %}
{% block content6 %}

Vea los datos clave en su pantalla de inicio con nuestros widgets móviles optimizados.

{% endblock %}



{% block afterword %}

Todo eso y mucho más. Háganos saber cómo le va.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_es.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_es.njk" %}
{% endblock %}