{% set lang = "ar" %}
{% set loc = "ar" %}
{% set preheader = "ما الذي يمكنك فعله أيضًا على TradingView؟ الكثير، لكن رحلتك ستؤدي على الأرجح إلى هذه الميزات." %}
{% set logo_header_text = "الخطوة التالية" %}

{% set h1 = "هل رأيت هذه حتى الآن؟" %}



{% extends "welcome-D-05_template_rtl.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

مرحبا,<br><br>الآن ربما تكون قد ألقيت نظرة جيدة على نظامنا الأساسي. إذن ما الذي يمكنك فعله أيضًا على TradingView؟ إجابة قصيرة ، الكثير، لكن ربما يجب أن تبدأ هنا:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

انطلق اجتماعيًا

{% endblock %}

{% block content1 %}

تحقق من <a href="https://ar.tradingview.com/ideas/editors-picks/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">اختيارات المحررين</a> للحصول على أحدث وأكبر إلهام من جميع فئات الأصول ، وانضم إلى<a href="https://ar.tradingview.com/chat/#general" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"> غرف الدردشة</a> التي تضم ملايين الأشخاص لتحليل الوقت الفعلي - بل وقم بإنشاء <a href="https://ar.tradingview.com/ideas/chartart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">رسم بياني</a> خاص بك. لم تكن الأسواق أكثر اجتماعية من أي وقت مضى.

{% endblock %}


{% block content2header %}

حمل تطبيق الحاسوب

{% endblock %}

{% block content2 %}

حقق أقصى استفادة من الأسواق من خلال <a href="https://ar.tradingview.com/desktop/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">تطبيق سطح المكتب</a> المصمم خصيصًا. احصل على قوة وسرعة ومرونة إضافية ، كل ذلك بنفس تجربة المستخدم التي تعرفها وتحبها. متوفر لأجهزة الكمبيوتر الشخصية وأجهزة Mac و Linux.

{% endblock %}



{% block content3header %}

ابدأ في تعلم لغة باين البرمجية

{% endblock %}
{% block content3 %}

الأشخاص الأذكياء يبنون مؤشرات ذكية واستراتيجيات قوية. لقد صنعنا<a href="https://ar.tradingview.com/pine-script-docs/en/v4/Introduction.html" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;"> Pine Script</a> لمساعدتهم. لغة البرمجة الخاصة بنا سهلة التعلم وسريعة ومُصممة لك. جربه وشاهد ما يمكن أن يفعله لتداولك.

{% endblock %}



{% block outro %}

مستعد لاكتشاف المزيد؟

{% endblock %}

{% set button_text = "فلنبدأ" %}

{% block afterword %}

حان الوقت لاتخاذ القفزة الكبيرة التالية الخاصة بك؟ لا تنس أنه يمكنك اختبار حسابات Pro أو Pro+ أو Premium لمدة 30 يومًا <a href="https://ar.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">مجانًا تمامًا</a>.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_ar.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_ar.njk" %}
{% endblock %}