{% set lang = "fr" %}
{% set loc = "fr" %}
{% set preheader = "
Essayez ces quatre outils méconnus pour réaliser des analyses de pointe. Vous maîtrisez les principes de base des graphiques, il est maintenant temps de passer aux choses sérieuses.
" %}

{% set logo_header_text = "
Libérez votre trading
" %}

{% set h1 = "
Emmenez nos graphiques en balade
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Salut,<br><br>Vous maîtrisez les principes de base des graphiques. Il est maintenant temps de passer aux choses sérieuses. Voici quatre de nos outils les plus importants à essayer dès que possible.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Graphiques multiples
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Utilisez la <a href="https://fr.tradingview.com/chart/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">fonction multi-graphiques</a> de nos plans upgradés pour afficher jusqu'à huit graphiques par onglet - beaucoup plus facile pour comparer les symboles et passer d'une vue à l'autre.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Bar Replay

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Activez l'outil <a href="https://fr.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Bar Replay</a> pour remonter dans le temps et rejouer le marché, afin de pouvoir tester vos idées et analyser vos stratégies avant de les utiliser sur le terrain.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Graphiques de spreads

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Jetez un coup d'œil aux <a href="https://fr.tradingview.com/chart/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">graphiques de spreads</a> pour avoir une perspective unique sur les marchés, et comparez un symbole avec une autre variable - comme une valeur numérique ou un symbole différent.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Intervalles de temps

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Passez à un plan payant pour bénéficier d'une gamme plus complète d'<a href="https://fr.tradingview.com/gopro/?solution=43000543883#compare" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">intervalles de temps</a>, de 1 seconde à 1 mois - et avec un plan Premium, vous pouvez même définir vos propres intervalles de temps personnalisés pour affiner votre configuration.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

C'est tout pour le moment. Prêt/e à en explorer davantage?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
C'est parti!
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Vous êtes prêt/e à faire le grand saut? N'oubliez pas que vous pouvez tester nos comptes Pro, Pro+ ou Premium pendant 30 jours, <a href="http://fr.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">totalement gratuitement</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_fr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_fr.njk" %}
{% endblock %}