{% set lang = "ms" %}
{% set preheader = "Empat langkah mudah untuk melepaskan penganalisa pasaran di alam diri anda. Carta-carta kami adalah sangat berkuasa dan kami tahu ada begitu banyak untuk anda kuasai." %}
{% set logo_header_text = "Pencartaan 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Bagaimana untuk bermula" %}

{% set button_link = "https://my.tradingview.com/chart" %}
{% set button_text = "Mari bermula" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Hai,<br><br>Carta kami adalah sangat berkuasa dan kami tahu bahawa ada pelbagai cara untuk menggunakannya. Jadi kami telah menulis beberapa asas utama untuk membantu anda memulakan perjalanan anda.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Di mana saya patut bermula?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Apabila anda membuka satu carta, ia akan memaparkan satu simbol lalai, atau simbol terakhir yang anda buka. Untuk menukarkannya, hanya klik atau mula menaip simbol / nama syarikat.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://my.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Carta juga akan bermula semula kepada satu susun atur&nbsp;<a href="https://my.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">candlestick</a>&nbsp;harian. Selaraskan rangka masa anda dan pilih dari <a href="https://my.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12 jenis carta</a>&nbsp;menggunakan tab yang berada di bahagian atas carta.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://kr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Anda boleh menindan&nbsp;<a href="https://my.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">penunjuk</a>&nbsp;atau data asas menggunakan tab pada bahagian atas, dan mendapatkan penjelasan untuk setiap jenis melalui tanda soalan pada nama mereka di skrin menu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://my.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Langkah terakhir, mulakan <a href="https://my.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">navigasi sisi</a>&nbsp;untuk menambah garis arah aliran, bentuk-bentuk dan teks untuk menganotasikan carta-carta anda.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://my.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Itu sahaja untuk kali ini. Tetapi ini cuma sedikit sahaja dari keseluruhan dan cara terbaik untuk menjadi cekap adalah dengan hanya mengklik di sana sini dan menerokai kesemua ciri-ciri kami.<br><br>Jangan lupa anda juga boleh mengumpulkan semua jenis tip, bantuan, dan maklumat daripada komuniti kami yang mesra.&nbsp;<br><br>Bersedia untuk meneroka?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Jangan lupa bahawa anda boleh melakukan ujian memandu akaun-akaun Pro, Pro+, atau Premium untuk 30 hari, <a href="http://my.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">percuma sepenuhnya</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_my.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_my.njk" %}
{% endblock %}