{% set lang = "pt" %}
{% set loc = "br" %}
{% set preheader = "Experimente estas quatro ferramentas menos conhecidas para uma análise verdadeiramente de alto nível. Portanto, você tem que aprender o básico sobre nossos gráficos – agora é hora de brincar um pouco com eles." %}
{% set logo_header_text = "Liberte sua capacidade" %}

{% set h1 = "Vamos navegar nos gráficos" %}

{% set button_text = "Vamos lá" %}

{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Oi,<br><br>Portanto, você tem que aprender o básico sobre nossos gráficos - agora é hora de brincar um pouco com eles. Aqui estão quatro ferramentas mais importantes para testar no momento.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Múltiplos gráficos

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Use a <a href="https://br.tradingview.com/chart/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">função de múltiplos gráficos</a> em nossos planos pagos para visualizar até oito gráficos por aba - é muito mais fácil de comparar símbolos e alternar entre vistas.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Replay de Barras

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Ative a ferramenta <a href="https://br.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Replay de Barras</a> para voltar no tempo e reproduzir novamente o movimento do mercado, para que você possa testar suas ideias e analisar suas estratégias antes de usá-las no mundo real.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Spread charts

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Confira os <a href="https://br.tradingview.com/chart/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">spread charts</a> para ter uma perspectiva diferente dos mercados, e compare um símbolo com outra variável – como um valor numérico ou um outro símbolo.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Tempos Gráficos

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Atualize para um plano pago para obter uma gama mais completa de <a href="https://br.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">tempos gráficos</a>, de 1 segundo a 1 mês - além disso, com um plano Premium você pode até mesmo definir seus próprios tempos gráficos personalizados para ajustar sua configuração.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Por enquanto é só isso. Pronto para explorar um pouco mais?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Está na hora de dar seu próximo grande passo? Não esqueça que você pode testar nossas contas Pro, Pro+, ou Premium por 30 dias, <a href="http://br.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">totalmente de graça</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_br.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_br.njk" %}
{% endblock %}