{% set lang = "fr" %}
{% set loc = "fr" %}
{% set preheader = "Emmenez votre trading partout avec l'application financière la mieux notée de l'App Store. Ne tradez pas uniquement via le Desktop - téléchargez TradingView Mobile gratuitement dès maintenant." %}
{% set logo_header_text = "Téléchargez gratuitement" %}

{% set h1 = "Tout ce dont vous avez besoin, dans l'app" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Bonjour,<br><br>Saviez-vous que nous avons l'<a href="https://www.tradingview.com/blog/fr/we-are-officially-number-one-in-the-world-25885/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">application financière la mieux notée de l'App Store</a>? Ne tradez pas uniquement sur Desktop - téléchargez TradingView Mobile gratuitement dès maintenant.

{% endblock %}

{% block reasonstitle %}

Voici 6 raisons de l'obtenir:

{% endblock %}

{% block content1header %}

Notifications Push

{% endblock %}

{% block content1 %}

Grâce à nos alertes gratuites, vous ne manquerez plus jamais une opportunité de trading.

{% endblock %}


{% block content2header %}

Listes de surveillance

{% endblock %}

{% block content2 %}

Suivez plus efficacement les prix des symboles grâce à des listes et des catégories personnalisées, et marquez vos favoris.

{% endblock %}



{% block content3header %}

Graphiques

{% endblock %}
{% block content3 %}

Nos graphiques iconiques sont optimisés pour les mobiles, afin que vous puissiez analyser, suivre et trader sur les marchés où que vous soyez.

{% endblock %}


{% block content4header %}

Trading Démo

{% endblock %}
{% block content4 %}

Testez vos compétences et vos idées de trading sans risque avec un compte d'entraînement.

{% endblock %}



{% block content5header %}

Idées et actualités

{% endblock %}
{% block content5 %}

Tenez-vous au courant des derniers événements financiers - suivez vos auteurs TradingView préférés, publiez des idées et partagez vos réflexions.

{% endblock %}


{% block content6header %}

Widgets

{% endblock %}
{% block content6 %}

Consultez les données clés sur votre écran d'accueil grâce à nos widgets mobiles optimisés.

{% endblock %}



{% block afterword %}

Tout cela et bien plus encore. Faites-nous savoir comment ça se passe.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_fr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_fr.njk" %}
{% endblock %}