{% set lang = "tr" %}
{% set loc = "tr" %}
{% set preheader = "
Gerçekten soyağacı düzeyinde bir analiz için bu daha az bilinen dört aracı deneyin. Bu nedenle, grafik temellerimizle ilgilenmeniz gerekiyor - şimdi bu yavruyu gerçek bir oyun için dışarı çıkarmanın zamanı geldi.
" %}

{% set logo_header_text = "
İşleminizi doruğa çıkartın
" %}

{% set h1 = "
Grafiklerimizi yürüyüşe çıkarın
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Selam,<br><br>Grafik temellerimizle ilgilenmeniz gerekiyor - şimdi bu yavruyu gerçek bir oyun için dışarı çıkarmanın zamanı geldi. İşte bir sonraki denemeniz için en önemli araçlarımızdan dördü.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Çoklu Grafikler
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Sekme başına sekiz adede kadar grafiği görüntülemek için yükseltilmiş planlarımızda <a href="https://tr.tradingview.com/chart/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">çoklu grafik işlevini</a> kullanın - sembolleri karşılaştırmak ve görünümler arasında geçiş yapmak çok daha kolay.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Çubuk Geri Oynatma

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Zamanda geriye gitmek ve piyasayı yeniden oynamak için <a href="https://tr.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Çubuk Tekrar Oynatma</a> aracını etkinleştirin, böylece fikirlerinizi test edebilir ve stratejilerinizi vahşi doğada kullanmadan önce analiz edebilirsiniz.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Spread grafikleri

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Piyasalar hakkında benzersiz bir bakış açısı elde etmek için <a href="https://tr.tradingview.com/chart/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">spread grafiklerimize</a> göz atın ve bir sembolü sayısal bir değer veya farklı bir sembol gibi başka bir değişkenle karşılaştırın.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Zaman aralıkları

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

1 saniyeden 1 aya kadar daha geniş bir zaman aralığı aralığı elde etmek için ücretli bir plana yükseltin - ayrıca bir Premium planla, kurulumunuzda ince ayar yapmak için kendi özel <a href="https://tr.tradingview.com/gopro/?solution=43000543883#compare" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">zaman aralıklarınızı</a> bile belirleyebilirsiniz.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Şimdilik bu kadar. Biraz daha keşfetmeye hazır mısınız?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
Haydi
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Bir sonraki büyük adımı atmanın zamanı geldi mi? Pro, Pro+ veya Premium hesaplarımızı 30 gün boyunca <a href="http://tr.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">tamamen ücretsiz</a> olarak test edebileceğinizi unutmayın.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_tr.njk" %}
{% endblock %}

{% block footer %}
{% include "../templates/parts/_footer_tr.njk" %}
{% endblock %}