{% set lang = "ar" %}
{% set loc = "ar" %}
{% set preheader = "خذ تداولك إلى أي مكان باستخدام تطبيقنا المالي الأعلى تقييمًا في متجر التطبيقات. لا تترك تداولك على سطح المكتب فقط - قم بتنزيل TradingView Mobile للجوال الآن مجانًا" %}
{% set logo_header_text = "حمل مجانا" %}

{% set h1 = "كل ما تحتاجه داخل التطبيق" %}



{% extends "welcome-D-06_template_rtl.njk" %}

{% block intro %}

مرحبا,<br><br>هل تعلم أننا حصلنا على<a href="https://tradingview.com/blog/ar/we-are-officially-number-one-in-the-world-25885/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;"> التطبيق المالي الأعلى تقييمًا</a> في App Store؟ لا تترك تداولك على سطح المكتب فقط - قم بتنزيل TradingView للجوال الآن مجانًا.

{% endblock %}

{% block reasonstitle %}

إليك 6 أسباب للحصول عليه:

{% endblock %}

{% block content1header %}

الإشعارات

{% endblock %}

{% block content1 %}

تنبيهاتنا المجانية تعني أنك لن تفوت أي فرصة تداول مرة أخرى

{% endblock %}


{% block content2header %}

قوائم المراقبة

{% endblock %}

{% block content2 %}

تتبع أسعار الرموز بشكل أكثر فاعلية من خلال القوائم والفئات المخصصة ، بالإضافة إلى وضع علامة على مفضلاتك

{% endblock %}



{% block content3header %}

الرسوم البيانية

{% endblock %}
{% block content3 %}

تم تحسين مخططاتنا المميزة للجوال ، بحيث يمكنك تحليل الأسواق وتتبعها وتداولها في أي مكان

{% endblock %}


{% block content4header %}

التداول التجريبي

{% endblock %}
{% block content4 %}

اختبر مهاراتك وأفكارك في التداول بدون مخاطر باستخدام حساب تجريبي

{% endblock %}



{% block content5header %}

الأفكار والأخبار

{% endblock %}
{% block content5 %}

ابق على اطلاع بأحدث الأحداث المالية - تابع مؤلفي TradingView المفضلين لديك ، وانشر الأفكار وشارك بأفكارك

{% endblock %}


{% block content6header %}

الأدوات

{% endblock %}
{% block content6 %}

اطلع على البيانات الأساسية على شاشتك الرئيسية من خلال أدوات الهاتف المحمول المحسّنة لدينا

{% endblock %}



{% block afterword %}

كل ذلك وأكثر من ذلك بكثير. دعونا نعرف كيف تحصل على

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_ar.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_ar.njk" %}
{% endblock %}