{% set lang = "it" %}
{% set loc = "it" %}
{% set preheader = "Porta il trading sempre con te grazie alla nostra app super apprezzata. Non lasciare la tua attività sulla scrivania. Scaricala ora gratuitamente." %}
{% set logo_header_text = "Scarica gratis" %}

{% set h1 = "Tutto il necessario, in una app" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Ciao,<br><br>Sapevi che la nostra è l'applicazione finanziaria&nbsp;<a href="https://www.tradingview.com/blog/it/we-are-officially-number-one-in-the-world-25885/" title="Highest rated finance app" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">con la valutazione più alta</a>&nbsp;nell'App Store? Non lasciare il trading alla tua scrivania. Scarica subito TradingView sullo smartphone.

{% endblock %}

{% block reasonstitle %}

6 ragioni per cui vale la pena averla:

{% endblock %}

{% block content1header %}

Notifiche push

{% endblock %}

{% block content1 %}

Con i nostri alert non perderai più opportunità di trading.

{% endblock %}




{% block content2header %}

Watchlist

{% endblock %}

{% block content2 %}

Segui l'andamento dei prezzi grazie a delle liste e delle categorie prsonalizzate. Metti in evidenza i tuoi preferiti.

{% endblock %}





{% block content3header %}

Grafici

{% endblock %}
{% block content3 %}

I nostri grafici sono ottimizzati anche per l'utilizzo da smartphone. Puoi portare le tue analisi dappertutto.

{% endblock %}




{% block content4header %}

Paper Trading

{% endblock %}
{% block content4 %}

Metti alla prova le tue abilità di trading con un conto con denaro fittizio.

{% endblock %}




{% block content5header %}

Idee e notizie

{% endblock %}
{% block content5 %}

Rimani aggiornato sugli eventi finanziari più importanti – segui i tuoi autori preferiti su TradingView, pubblica idee e condividi il tuo pensiero.

{% endblock %}




{% block content6header %}

Widget

{% endblock %}
{% block content6 %}

Osserva i dati chiave nella schermata della home grazie ai widget ottimizzati per un'esperienza mobile.

{% endblock %}



{% block afterword %}

Questo e tanto altro. Facci sapere come ti trovi.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_it.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_it.njk" %}
{% endblock %}