{% set lang = "ko" %}
{% set preheader = "여러분의 안에 있는 마켓 애널리스트 능력을 찾아내는 심플한 4 스텝. 당사 차트는 수퍼 파워풀하기 때문에 여러분을 충분히 파악해야 합니다." %}
{% set logo_header_text = "차팅 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "첫 걸음 떼기" %}

{% set button_link = "https://kr.tradingview.com/chart" %}
{% set button_text = "렛츠 고!" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

안녕하세요 ,<br><br>당사 차트는 수퍼 파워풀하기 때문에 여러분을 충분히 파악해야 합니다. 그래서 여러분 여정의 시작을 도와줄 몇가지 키 베이직을 적어 보았습니다.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
어디서부터 시작해야 하나요?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

차트를 하나 열게 되면 디폴트 심볼 또는 여러분이 맨 마지막으로 열었던 심볼을 디스프레이해 줍니다. 다른 심볼을 클릭하거나 또는 심볼 / 컴패니 네임을 타이핑하여 바꿀 수 있습니다.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://kr.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

차트는 디폴트로 데일리 <a href="https://kr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">캔들스틱</a>&nbsp;레이아웃으로 뜨게 됩니다. 차트 위 탭에서 타임프레임과 <a href="https://kr.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">12 차트 타입</a>&nbsp;을 고르십시오.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://kr.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

탑에 있는 탭을 써서 <a href="https://kr.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">인디케이터</a>&nbsp;또는 펀더멘털 데이터를 오버레이할 수 있으며, 메뉴 스크린에서 이름 옆에 물음표를 눌러 설명을 볼 수 있습니다.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://kr.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

끝으로, <a href="https://kr.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">사이드 내비게이션</a>으로 트렌드라인, 셰잎&nbsp; 등을 넣어 보고, 또한 차트에 텍스트 어노테이션도 달아 보십시오.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://kr.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

이번엔 여기까지입니다. 하지만 이는 시작일 뿐이므로 익숙해 지는 가장 좋은 길은 이리 저리 클릭해 보면서 모든 피처를 써보는 것입니다.<br><br>그리고 당사 유저 커뮤니티로부터 모든 종류의 팁, 헬프 및 인포메이션 얻을 수 있다는 것을 잊지 마십시오.&nbsp;<br><br>가보실 까요?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

30날 동안, <a href="http://kr.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">완전 무료로</a>,&nbsp;당사 프로, 프로+, 또는 프리미엄 어카운트를 테스트해 보실 수 있습니다.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_kr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_kr.njk" %}
{% endblock %}