{% set lang = "ms" %}
{% set loc = "my" %}
{% set preheader = "Apakah lagi yang anda boleh lakukan di TradingView? Terlalu banyak, tetapi perjalanan anda mungkin akan menemui ciri-ciri ini." %}
{% set logo_header_text = "Langkah-langkah seterusnya" %}

{% set h1 = "Sudahkah anda melihat semua ini?" %}



{% extends "welcome-D-05_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hai,<br><br>Sekarang anda mungkin sudah melihat-lihat platform kami. Jadi apa lagi yang anda boleh lakukan di TradingView? Jawapan pendek, terlalu banyak, tetapi mungkin anda patut bermula di sini:

{% include "../templates/parts/_paragraph_end.njk" %}

{% endblock %}


{% block content1header %}

Pergi bersosial

{% endblock %}

{% block content1 %}

Lihat&nbsp;<a href="https://my.tradingview.com/ideas/editors-picks/" target="_blank" style="color: #2962ff; outline: none!important; text-decoration: none!important;" rel="noopener">Pilihan Editor</a>&nbsp;untuk inspirasi terkini dan terhebat dari seluruh kelas-kelas aset, sertai&nbsp;<a href="https://my.tradingview.com/chat/#general" target="_blank" style="color: #2962ff; outline: none!important; text-decoration: none!important;" rel="noopener">laman sembang berjuta-juta</a>&nbsp;kami untuk analisa masa nyata – termasuk mencipta&nbsp;<a href="https://my.tradingview.com/ideas/chartart/" target="_blank" style="color: #2962ff; outline: none!important; text-decoration: none!important;" rel="noopener">seni carta&nbsp;</a>anda sendiri. Pasaran tidak pernah sebegini sosial.

{% endblock %}


{% block content2header %}

Muat turun aplikasi atas meja kami

{% endblock %}

{% block content2 %}

Dapatkan keseluruhan daripada pasaran dengan <a href="https://my.tradingview.com/desktop/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">aplikasi atas meja&nbsp;</a>kami yang direka cipta istimewa. Dapatkan lebih kuasa, kelajuan dan&nbsp;fleksibiliti, kesemuanya dengan UX yang sama yang anda kenali dan sukai. Tersedia untuk PC, Mac, dan Linux.

{% endblock %}



{% block content3header %}

Mula pelajari Skrip Pine

{% endblock %}
{% block content3 %}

Orang-orang yang bijak membina penunjuk-penunjuk pintar dan strategi-strategi yang kuat. Kami membuat&nbsp;<a href="https://my.tradingview.com/pine-script-docs/en/v4/Introduction.html" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Skrip Pine</a>&nbsp;untuk membantu mereka. Bahasa pengaturcaraan proprietari kami adalah mudah untuk dipelajari, berkelajuan pantas dan dibina untuk anda. Cubalah ia dan lihat apa yang ia boleh lakukan untuk dagangan anda.

{% endblock %}



{% block outro %}

Sedia untuk menerokai?

{% endblock %}

{% set button_text = "Jom pergi" %}

{% block afterword %}

Masa untuk melakukan lompatan besar anda seterusnya?&nbsp;Jangan lupa bahawa anda boleh melakukan ujian memandu akaun-akaun Pro, Pro+, atau Premium untuk 30 hari, <a href="https://my.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">percuma sepenuhnya</a>.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_my.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_my.njk" %}
{% endblock %}