{% set lang = "he" %}
{% set preheader = "ארבעה שלבים פשוטים לשחרור אנליסט השווקים שבתוכך. הגרפים שלנו הם סופר חזקים ואנחנו יודעים שיש הרבה מאוד מה לחקור" %}
{% set logo_header_text = "גרפים 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "כיצד להתחיל" %}

{% set button_link = "https://il.tradingview.com/chart" %}
{% set button_text = "בוא נצא לדרך" %}



{% extends "welcome_template_rtl.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph_rtl.njk" %}

היי ,<br><br>הגרפים שלנו הם סופר חזקים ואנחנו יודעים שיש הרבה מאוד אפשרויות. אז רשמנו כמה עקרונות בסיסיים כדי לעזור לך להתחיל במסע שלך.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2_rtl.njk" %}
?היכן אני מתחיל
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18_rtl.njk" %}

כאשר אתה פותח גרף, הוא יציג סימול ברירת מחדל, או הסימןל האחרון שפתחת. כדי לשנות, פשוט לחץ או התחל להקליד את הסימול / שם החברה.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://il.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18_rtl.njk" %}

ברירת מחדל של הגרף הנו פריסת <a href="https://il.tradingview.com/chart/hBL0HfCj/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">נר יפני</a> יומי. התאם את מסגרת הזמן שלך ובחר מתוך&nbsp;12 <a href="https://il.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">סוגי גרפים</a> באמצעות הכרטיסיות בחלק העליון של הגרף.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://il.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18_rtl.njk" %}

אתה יכול לרחף עם הסמן מעל <a href="https://il.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">האינדיקטורים</a> או נתונים פונדמנטליים באמצעות הכרטיסייה בחלק העליון, ולקבל הסברים עבור כל אחד מהם באמצעות סימן השאלה שליד שמותיהם במסך התפריט.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://il.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18_rtl.njk" %}

בסוף, התחל לשחק עם <a href="https://il.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">הניווט הצידי</a> כדי להוסיף קווי מגמה, צורות וטקסט כדי להוסיף הערות לגרפים שלך.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://il.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

זהו לעת עתה. אבל זה רק קצה הקרחון והדרך הטובה ביותר להתמצא היא פשוט ללחוץ ולחקור את כל התכונות שלנו<br><br>אל תשכח שאתה יכול גם לאסוף כל מיני טיפים, עזרה ומידע מקהילת המשתמשים הידידותית שלנו<br><br>מוכן לחקור?
{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

אל תשכח שאתה יכול לקחת תקופת ניסיון בתכניות פרו, פרו+ או פרימיום שלנו למשך 30 יום, <a href="https://il.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">בחינם לחלוטין

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_il.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_il.njk" %}
{% endblock %}