{% set lang = "ms" %}
{% set loc = "my" %}
{% set preheader = "
Cuba empat alat-alat yang kurang dikenali ini untuk analisa peringkat keturunan yang sebenar. Jadi anda hendaklah memahami asas-asas pencartaan kami – sekarang masanya untuk melepaskan anak anjing ini keluar untuk satu permainan sebenar.
" %}

{% set logo_header_text = "
Lepaskan dagangan anda
" %}

{% set h1 = "
Bawa carta-carta kami berjalan-jalan
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hai,<br><br>Jadi anda sudah memahami asas-asas pencartaan kami – sekarang masanya untuk melepaskan anak anjing ini untuk satu permainan yang sebenar. Di sini adalah empat daripada alat-alat paling penting untuk dicuba seterusnya.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Pelbagai carta-carta
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Gunakan&nbsp;<a href="https://my.tradingview.com/chart/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">fungsi pelbagai carta</a>&nbsp;pada pelan-pelan naik taraf kami untuk melihat sehingga lapan carta-carta untuk setiap tab - lebih mudah untuk membandingkan simbol-simbol dan menukar antara paparan-paparan.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Ulangan Bar

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Aktifkan alat&nbsp;<a href="https://my.tradingview.com/chart/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">Ulangan Bar</a>&nbsp;untuk kembali ke masa belakang dan memainkan semula pasaran, jadi anda boleh menguji idea-idea anda dan menganalisa strategi-strategi anda sebelum anda menggunakan mereka nanti.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Carta Spread

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Cuba lihat pada&nbsp;<a href="https://my.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">carta spread</a>&nbsp;untuk mendapatkan satu perspektif unik untuk pasaran, dan membandingkan satu simbol dengan pembolehubah yang lain – seperti satu nilai berangka atau simbol berlainan.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Selang Masa

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Naik taraf kepada satu pelan berbayar untuk mendapatkan satu julat penuh untuk <a href="https://my.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">selang masa</a>, dari 1 saat kepada 1 bulan - tambahan dengan satu pelan Premium, anda boleh menetapkan selang masa tersuai untuk memperhalusi persediaan anda.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Itu saja untuk masa ini. Bersedia untuk meneroka lebih lagi?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
Jom pergi
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Sudah masanya untuk melakukan lompatan besar anda seterusnya?&nbsp;Jangan lupa bahawa anda boleh melakukan ujian memandu akaun-akaun Pro, Pro+, atau Premium untuk 30 hari, <a href="http://my.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">percuma sepenuhnya</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_my.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_my.njk" %}
{% endblock %}