{% set lang = "vi" %}
{% set loc = "vn" %}
{% set preheader = "
Để thử bốn công cụ ít được biết đến này để thực hiện một số phân tích ở cấp độ cao, bạn phải nắm rõ những điều cơ bản về biểu đồ của chúng tôi - bây giờ đã đến lúc để chú cún cưng này ra ngoài chơi thực sự.
" %}

{% set logo_header_text = "
Khai phá khả năng giao dịch
" %}

{% set h1 = "
Sử dụng biểu đồ
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hey,<br><br>Vì vậy, bạn phải nắm rõ những điều cơ bản về biểu đồ của chúng tôi - bây giờ đã đến lúc để chú cún cưng này ra ngoài chơi thực sự. Dưới đây là bốn công cụ quan trọng nhất của chúng tôi để thử tiếp theo.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Đa biểu đồ
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Sử dụng chức năng <a href="http://vn.tradingview.com/chart/?solution=43000629990" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">đa biểu đồ</a> trên các gói được nâng cấp của chúng tôi để xem tối đa tám biểu đồ trên mỗi tab - dễ dàng hơn nhiều để so sánh các mã và chuyển đổi giữa các chế độ xem.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Phát lại

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Kích hoạt công cụ <a href="http://vn.tradingview.com/chart/?solution=43000474024" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Bar Replay</a> để quay ngược thời gian và phát lại thị trường, vì vậy bạn có thể kiểm tra ý tưởng và phân tích chiến lược của mình trước khi sử dụng chúng.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

Biểu đồ spreads

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Hãy xem <a href="http://vn.tradingview.com/chart/?solution=43000502298" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">biểu đồ chênh lệch</a> để có cái nhìn độc đáo về thị trường và so sánh một biểu tượng với một biến khác - chẳng hạn như giá trị số hoặc mã khác.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Khung thời gian

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Nâng cấp lên gói trả phí để nhận được nhiều <a href="http://vn.tradingview.com/gopro/?solution=43000543883#compare" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">khoảng thời gian</a> hơn, từ 1 giây đến 1 tháng - ngoài ra với gói Premium, bạn thậm chí có thể đặt khoảng thời gian tùy chỉnh của riêng mình để tinh chỉnh thiết lập của mình.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

Sẵn sàng để khám phá thêm?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
Đi thôi nào
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Đừng quên bạn có thể thử tài khoản Pro, Pro + hoặc Premium của chúng tôi trong 30 ngày, <a href="http://vn.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">hoàn toàn miễn phí</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_vn.njk" %}
{% endblock %}

{% block footer %}
{% include "../templates/parts/_footer_vn.njk" %}
{% endblock %}