{% set lang = "th" %}
{% set loc = "th" %}
{% set preheader = "
ลองใช้เครื่องมือที่ไม่ค่อยเป็นที่รู้จักทั้งสี่นี้ในการวิเคราะห์ระดับสายเลือดอย่างแท้จริง ดังนั้น คุณต้องเข้าใจพื้นฐานการสร้างชาร์ตของเรา ตอนนี้ได้เวลาปล่อยให้ลูกสุนัขตัวนี้ออกไปวิ่งเล่นจริงๆ แล้ว
" %}

{% set logo_header_text = "
ปลดปล่อยการซื้อขายของคุณ
" %}

{% set h1 = "
นำชาร์ตของเราออกไปเดินเล่น
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

เฮ้,<br><br>ดังนั้น คุณต้องเข้าใจพื้นฐานการสร้างชาร์ตของเรา ตอนนี้ได้เวลาปล่อยให้ลูกสุนัขตัวนี้ออกไปวิ่งเล่นจริงๆ แล้ว ต่อไปนี้คือเครื่องมือที่สำคัญที่สุดสี่อย่างที่เราต้องลองในครั้งต่อไป

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

หลายชาร์ต
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

ใช้<a href="https://th.tradingview.com/chart/8gCHZTFQ/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">ฟังกฺชั่นชาร์ตหลายรายการ</a>ในแผนที่อัปเกรดเพื่อดูชาร์ตสูงสุดแปดรายการต่อแท็บ ซึ่งง่ายกว่ามากสำหรับการเปรียบเทียบสัญลักษณ์และการสลับระหว่างมุมมอง

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

บาร์ รีเพลย์

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

เปิดใช้งานเครื่องมือ&nbsp;<a href="https://th.tradingview.com/chart/8gCHZTFQ/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">บาร์ รีเพลย์</a> เพื่อย้อนเวลากลับไปและเล่นซ้ำตลาด เพื่อให้คุณสามารถทดสอบแนวคิดและวิเคราะห์กลยุทธ์ของคุณก่อนนำไปใช้จริง

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

สเปรดชาร์ต

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

ดู<a href="https://th.tradingview.com/chart/8gCHZTFQ/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">สเปรดชาร์ต</a>เพื่อให้ได้มุมมองที่ไม่เหมือนใครในตลาด และเปรียบเทียบสัญลักษณ์กับตัวแปรอื่น เช่น ค่าตัวเลขหรือสัญลักษณ์อื่น

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

ช่วงเวลา

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

อัปเกรดเป็นแผนชำระเงินเพื่อรับ<a href="https://th.tradingview.com/gopro/?solution=43000543883" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">ช่วงระยะเวลาที่สมบูรณ์</a>ยิ่งขึ้น ตั้งแต่ 1 วินาทีถึง 1 เดือน บวกกับแผนพรีเมียม คุณยังสามารถกำหนดช่วงเวลาที่กำหนดเองเพื่อปรับแต่งการตั้งค่าของคุณได้

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

เท่านี้สำหรับตอนนี้ พร้อมที่จะสำรวจเพิ่มเติมบ้างไหม?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
ไปกันเลย
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

ถึงเวลาก้าวกระโดดครั้งใหญ่ครั้งต่อไปแล้วหรือยัง? อย่าลืมว่าคุณสามารถทดลองใช้บัญชี Pro, Pro+ หรือ Premium ของเราได้เป็นเวลา 30 วัน<a href="https://th.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">โดยไม่เสียค่าใช้จ่ายใดๆ

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_th.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_th.njk" %}
{% endblock %}