{% set lang = "ja" %}
{% set loc = "jp" %}
{% set preheader = "
あまり知られていない4つのツールを使って、真に血統に基づいた分析をしてみましょう。チャートの基本を理解したら、次は実際に子犬を遊ばせてみましょう。
" %}

{% set logo_header_text = "
トレードを解き放つ
" %}

{% set h1 = "
チャートでお散歩
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

こんにちは、Maxさん<br><br>チャートの基本を理解したら、次は実際にそこで子犬を遊ばせてみましょう。次に試すべき、最も重要な4つのツールをご紹介します。

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

複数のチャート
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

アップグレードプランでは、<a href="https://jp.tradingview.com/chart/?solution=43000629990" title="マルチチャート機能" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">マルチチャート機能</a>で1つのタブに最大8つのチャートを表示することができます ― シンボルの比較やビューの切り替えがより簡単になりました。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

バーのリプレイ

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

<a href="https://jp.tradingview.com/chart/?solution=43000474024" title="バーのリプレイ" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">バーのリプレイ</a>ツールを有効にすると、過去にさかのぼって市場を再生することができます。実際に利用する前に、アイデアをテストしたり、戦略を分析することが可能です。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

合成チャート

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

<a href="https://jp.tradingview.com/chart/?solution=43000502298" title="スプレッドチャート" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">スプレッドチャート</a>で、あるシンボルと数値や他のシンボルとの比較など、ユニークな視点で市場を分析することができます。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

時間足

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

有料プランにアップグレードすると、秒足から月足までの幅広い<a href="https://jp.tradingview.com/gopro/?solution=43000543883#compare" title="時間足" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">タイムフレーム</a>を利用することができます ― 加えて有料プランでは、カスタム時間足を設定して、セットアップを細かく調整することも可能です。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

今日はここまでです。もっと知りたいですか？

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
始めましょう
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

次の大きな飛躍を遂げる時です！Pro／Pro+／Premiumアカウントを<a href="http://jp.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">完全無料</a>で30日間お試しいただけます。

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_jp.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_jp.njk" %}
{% endblock %}