{% set lang = "zh" %}
{% set loc = "cn" %}
{% set preheader = "Nehmen Sie Ihr Trading, mit der am besten bewerteten Finanz-App im App-Store überallhin mit. Erleben Sie Trading nicht nur auf dem Desktop – laden Sie TradingView Mobile jetzt kostenlos herunter." %}
{% set logo_header_text = "Kostenloser Download" %}

{% set h1 = "Alles Tools in einer App" %}



{% extends "welcome-D-06_template.njk" %}

{% block intro %}

Hallo,<br><br>Wussten Sie schon, dass wir die am&nbsp;<a href="https://www.tradingview.com/blog/de/we-are-officially-number-one-in-the-world-25885/" title="Highest rated finance app" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">besten bewertete Finanz-App</a>&nbsp;im App-Store sind? Begnügen Sie sich nicht damit, nur auf dem Desktop zu traden – laden Sie TradingView Mobile jetzt kostenlos herunter.

{% endblock %}

{% block reasonstitle %}

Hier sind 6 Gründe zur Nutzung unserer App:

{% endblock %}

{% block content1header %}

Push-Benachrichtigungen

{% endblock %}

{% block content1 %}

Mit unseren kostenlosen Benachrichtigungen verpassen Sie nie wieder eine Handelsmöglichkeit.

{% endblock %}


{% block content2header %}

Watchlisten

{% endblock %}

{% block content2 %}

Verfolgen Sie Preise von Symbolen effektiver durch benutzerdefinierte Listen und Kategorien und markieren Sie Ihre Favoriten.

{% endblock %}



{% block content3header %}

Charts

{% endblock %}
{% block content3 %}

Unsere unverwechselbaren Charts sind für Mobiltelefone optimiert, so dass Sie die Märkte überall analysieren, verfolgen und handeln können.

{% endblock %}


{% block content4header %}

Paper Trading

{% endblock %}
{% block content4 %}

Testen Sie Ihre Handelsfähigkeiten und Ideen risikofrei mit einem Übungskonto.

{% endblock %}



{% block content5header %}

Ideen und News

{% endblock %}
{% block content5 %}

Halten Sie sich über die neuesten Finanzereignisse auf dem Laufenden - folgen Sie Ihren Lieblingsautoren von TradingView, veröffentlichen Sie Ideen und teilen Sie Ihre Gedanken.

{% endblock %}


{% block content6header %}

Widgets

{% endblock %}
{% block content6 %}

Sehen Sie die wichtigsten Daten auf Ihrem Homescreen mit unseren optimierten Smartphone-Widgets.

{% endblock %}



{% block afterword %}

All das und noch viel mehr. Lassen Sie uns wissen, wie Sie vorankommen.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_de.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_de.njk" %}
{% endblock %}