{% set lang = "en" %}
{% set loc = "www" %}
{% set preheader = "Try these four lesser-known tools for some truly pedigree-level analysis. So you've got to grips with our charting
basics – now it’s time to let this puppy out for a real play." %}
{% set logo_header_text = "Unleash your trading" %}

{% set h1 = "Take our charts for a walk" %}

{% set button_text = "Let's go" %}

{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

Hey,<br><br>So you've got to grips with our charting basics – now it’s time to let this puppy out for a real play. Here are four of our most important tools to try out next.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

Multiple charts

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Use the <a href="https://www.tradingview.com/chart/?solution=43000629990" alt="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">multi
chart function</a> on our upgraded plans to view up to 16 charts per tab - much easier for comparing symbols and switching between views.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}




{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

Bar Replay

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Activate the <a href="https://www.tradingview.com/chart/?solution=43000474024" title="Bar Replay" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">Bar Replay</a> tool to skip back in time and replay the market, so you can test your ideas and analyze your strategies before you use them in the wild.
{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}


{% include "../templates/parts/_h2.njk" %}

Spread charts

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Take a look at <a href="https://www.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;"> spread charts</a> to get a unique perspective on the markets, and compare a symbol with another variable – such as a numerical value or different symbol.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

Time Intervals

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

Upgrade to a paid plan to get a fuller range of <a href="https://www.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">time intervals</a>, from 1 second to 1 month - plus with a Premium plan you can even set your own custom time intervals to fine-tune your setup.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

That’s it for now. Ready to explore some more?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Time to take your next big leap? Don’t forget you can test drive our Pro, Pro+, or Premium accounts for 30 days, <a href="https://www.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">completely free</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer.njk" %}
{% endblock %}