{% set lang = "he" %}
{% set loc = "il" %}
{% set preheader = "קח את המסחר שלך לכל מקום עם אפליקציית הפיננסים המדורגת ביותר בחנות האפליקציות. אל .TradingView Mobile תשאיר את המסחר שלך רק על שולחן העבודה - הורד בחינם עכשיו את" %}
{% set logo_header_text = "הורד בחינם" %}

{% set h1 = "כל מה שאתה צריך, בתוך האפליקציה" %}



{% extends "welcome-D-06_template_rtl.njk" %}

{% block intro %}

היי Max,<br><br>האם ידעת שיש לנו את אפליקציית הפיננסים <a href="https://www.tradingview.com/blog/il/we-are-officially-number-one-in-the-world-25885/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">בעלת הדירוג הגבוה ביותר</a> ב-App Store? אל תשאיר את המסחר שלך רק על שולחן העבודה - הורד את TradingView Mobile בחינם עכשיו.

{% endblock %}

{% block reasonstitle %}

הנה 6 סיבות מדוע להשיג את זה

{% endblock %}

{% block content1header %}

הודעות דחיפה

{% endblock %}

{% block content1 %}

עם ההתראות החינמיות שלנו לעולם לא תחמיץ שוב הזדמנות מסחר

{% endblock %}


{% block content2header %}

רשימות מעקב

{% endblock %}

{% block content2 %}

עקוב אחר מחירי סימולים בצורה יעילה יותר באמצעות רשימות וקטגוריות מותאמות אישית, וכן סמן את המועדפים שלך

{% endblock %}



{% block content3header %}

גרפים

{% endblock %}
{% block content3 %}

הגרפים האיקוניים שלנו מותאמים לנייד, כך שתוכל לנתח, לעקוב ולסחור. בשווקים בכל מקום

{% endblock %}


{% block content4header %}

מסחר דמו

{% endblock %}
{% block content4 %}

בדוק את כישורי המסחר והרעיונות שלך ללא סיכון עם חשבון תרגול

{% endblock %}



{% block content5header %}

רעיונות וחדשות

{% endblock %}
{% block content5 %}

הישאר מעודכן באירועים הפיננסיים האחרונים - עקוב אחר המחברים TradingView האהובים עליך, פרסם רעיונות ושתף את מחשבותיך

{% endblock %}


{% block content6header %}

וידג'טים

{% endblock %}
{% block content6 %}

ראה נתוני מפתח במסך הבית שלך עם הווידג'טים הניידים המותאמים שלנו

{% endblock %}



{% block afterword %}

כל זה ועוד הרבה יותר. ספר לנו איך אתה מסתדר.

{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-4_il.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_il.njk" %}
{% endblock %}