{% set lang = "ko" %}
{% set loc = "kr" %}
{% set preheader = "
잘 알려지지 않은 다음 네 가지 툴을 대표적인 분석에 한번 써보십시오. 그러면 우리의차팅 베이직에 발을 들여 놓게 되는 것입니다. 이제 진짜 플레이를 해 볼 때가 되었습니다.
" %}

{% set logo_header_text = "
여러분의 트레이딩 능력 발휘
" %}

{% set h1 = "
당사 차트 살펴 보기
" %}



{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

안녕하세요,<br><br>당사 차트 베이직을 배워 보았습니다 – 이제 리얼 플레이를 해 볼 차례입니다. 다음으로 써 볼 네 가지 중요한 툴이 있습니다.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

멀티플 차트
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

당사 업그레이드 플랜으로&nbsp;<a href="https://kr.tradingview.com/chart/?solution=43000629990" title="멀티 차트 펑크션" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">멀티 차트 펑크션</a>을 써서 한 탭당 여덟 차트까지 볼 수 있습니다 - 여러 심볼을 함께 견주어 보면서 여러 가지 뷰를 바꾸어 볼 수 있습니다.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

바 리플레이

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

<a href="https://kr.tradingview.com/chart/?solution=43000474024" title="바 리플레이" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">바 리플레이</a>&nbsp;툴로 시간을 거슬러 올라가 마켓을 리플레이해 봄으로써, 곧바로 실전에 들어가기 앞서 여러분의 아이디어를 테스트도 해보고 스트래티지도 분석해 볼 수 있습니다.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

스프레드 차트

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

<a href="https://kr.tradingview.com/chart/?solution=43000502298" title="스프레드 차트" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">스프레드 차트</a>로 유니크한 마켓뷰를 보고, 심볼을 다른 변수와 견주어 보십시오 – 수치 또는 다른 심볼 등.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

타임 인터벌

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

유료 플랜으로 업그레이드하여 1초부터 1달까지 더 많은&nbsp;<a href="https://kr.tradingview.com/gopro/?solution=43000543883#compare" title="타임 인터벌" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">타임 인터벌</a>을 써 보십시오 - 프리미엄 플랜으로는 여러분 자신만의 커스텀 인터벌까지 만들어 쓸 수 있습니다.

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

이번엔 여기까지입니다. 좀 더 들어가 볼까요?

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% set button_text = "
렛츠 고!
" %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

다음 단계로 뛰어 올라 볼까요? 30날 동안, <a href="http://kr.tradingview.com/gopro/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">완전 무료로</a>,&nbsp;당사 프로, 프로+, 또는 프리미엄 어카운트를 테스트해 보실 수 있습니다.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_kr.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_kr.njk" %}
{% endblock %}