{% set lang = "pt" %}
{% set preheader = "uatro passos simples para libertar o analista de mercado que está dentro de você. Nossos gráficos são super poderosos e nós sabemos que há um monte de coisas importantes para se guardar na memória." %}
{% set logo_header_text = "Charting 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Como começar" %}

{% set button_link = "https://br.tradingview.com/chart" %}
{% set button_text = "Vamos lá" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Oi,<br><br>Nossos gráficos são super poderosos e nós sabemos que há um monte de coisas importantes para se guardar na memória. Por isso, nós elaboramos uma série de pontos essenciais para ajudar você a começar sua jornada.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Por onde eu começo?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Quando você abre um gráfico, ele exibirá um símbolo padrão, ou o último símbolo que você abriu. Para altera-lo, basta clicar ou começar a digitar o símbolo / nome da empresa.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://br.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Where do I start?" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

O gráfico também apresenta como padrão o layout de <a href="https://br.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">candlestick</a> no diário. Ajuste seu tempo gráfico e escolha entre os <a href="https://br.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">12 tipos de gráficos</a> usando as abas ao longo da parte superior do gráfico.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://br.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Where do I start?" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Você pode sobrepor <a href="https://br.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">indicadores</a> ou dados fundamentalistas usando a guia na parte superior, e obter explicações para cada um através do ponto de interrogação ao lado de seus nomes na tela do menu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://br.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Finalmente, comece a usar a <a href="https://br.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank">barra de navegação lateral</a> para adicionar linhas de tendência, formas e texto para anotar em seus gráficos.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://br.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Por enquanto é só isso. Mas esta é apenas a pontinha do iceberg e a melhor maneira de se tornar habilidoso é realmente apenas clicar e explorar todas as nossas funcionalidades.<br><br>Não se esqueça de que você também pode receber muitas dicas, sugestões e informações de nossa amistosa comunidade de usuários. <br><br>Pronto para explorar?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Não esqueça que você pode testar nossos planos Pro, Pro+, ou Premium por 30 dias, totalmente de graça. <a href="http://br.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">totalmente de graça.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_br.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_br.njk" %}
{% endblock %}