{% set lang = "zh" %}
{% set loc = "cn" %}
{% set preheader = "
尝试使用这四种少有人知的工具进行一些真正的谱系级别分析。所以您必须掌握我们的图表基础知识 — 现在是时候展示真正的技术了。
" %}

{% set logo_header_text = "
释放您的交易
" %}

{% set h1 = "
带着我们的图表走一走
" %}

{% set button_text = "
我们开始吧
" %}

{% extends "welcome-D-03_template.njk" %}

{% block intro %}
{% include "../templates/parts/_paragraph.njk" %}

嗨，<br><br>所以您必须掌握我们的图表基础知识 — 现在是时候展示真正的技术了。接下来是我们要尝试的四个最重要的工具。

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% endblock %}
{% block content1 %}
{% include "../templates/parts/_h2.njk" %}

多个图表
{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

使用我们升级方案中的<a href="https://cn.tradingview.com/chart/?solution=43000629990" title="multi chart function" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">多图表功能</a>，每个标签页最多可查看八个图表 — 更容易比较商品和在视图之间切换。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}



{% block content2 %}

{% include "../templates/parts/_h2.njk" %}

K线回放

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

激活<a href="https://cn.tradingview.com/chart/?solution=43000474024" title="Bar Replay" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">K线回放</a>工具可以及时跳回并回放市场，这样您就可以在实际使用之前测试您的观点并分析您的策略。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% endblock %}


{% block content3 %}

{% include "../templates/parts/_h2.njk" %}

价差图表

{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

查看<a href="https://cn.tradingview.com/chart/?solution=43000502298" title="spread charts" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">价差图表</a>以获得市场的独特视角，并将一个商品与另一个变量进行比较 — 例如数值或不同的商品。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}


{% block content4 %}


{% include "../templates/parts/_h2.njk" %}

时间周期

{% include "../templates/parts/_h2_end.njk" %}
{% include "../templates/parts/_pd8.njk" %}
{% include "../templates/parts/_paragraph.njk" %}

升级到付费方案以获得更全面的<a href="https://cn.tradingview.com/gopro/?solution=43000543883#compare" title="time intervals" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">时间周期</a>，从1秒到1个月 — 加上Premium方案，您甚至可以设置自己的自定义时间周期来微调您的设置。

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}
{% endblock %}

{% block outro %}

{% include "../templates/parts/_h3_ac.njk" %}

现在就是这样。准备好探索更多了吗？

{% include "../templates/parts/_h3_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}
{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

是时候进行下一次大飞跃了？不要忘记您可以试用我们的 Pro、Pro+ 或 Premium 帐户 30 天，<a href="http://cn.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">完全免费</a>。

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_cn.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_cn.njk" %}
{% endblock %}