{% set lang = "pl" %}
{% set preheader = "Cztery proste kroki, aby uwolnić w sobie analityka rynku. Nasze wykresy są bardzo zaawansowane i wiemy, że jest po prostu mnóstwo do zrobienia." %}
{% set logo_header_text = "Wykresy 101" %}

{% set main_icon_light = "https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_00.png" %}
{% set main_icon_dark = "https://mpics.tradingview.com/pics/welcome_funnel02_dk.png" %}

{% set h1 = "Jak zacząć" %}

{% set button_link = "https://pl.tradingview.com/chart" %}
{% set button_text = "Zaczynajmy" %}



{% extends "welcome_template.njk" %}

{% block content %}
{% include "../templates/parts/_paragraph.njk" %}

Cześć,<br><br>Nasze wykresy są super zaawansowane i wiemy, że na początku jest po prostu mnóstwo do zrobienia. Dlatego opisaliśmy kilka kluczowych, podstawowych informacji, które pomogą Ci rozpocząć pracę.

{% include "../templates/parts/_paragraph_end.njk" %}

{% include "../templates/parts/_pd48.njk" %}

{% include "../templates/parts/_h2.njk" %}
Gdzie zaczynamy?
{% include "../templates/parts/_h2_end.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Gdy otworzysz wykres, wyświetli on domyślny lub ostatni otwarty symbol. Aby to zmienić, po prostu kliknij lub zacznij wpisywać symbol / nazwę firmy.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://pl.tradingview.com/chart/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_01.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}

{% include "../templates/parts/_pd40.njk" %}
{% include "../templates/parts/_pph-18.njk" %}

Wykres jest również domyślnie ustawiony na dzienny układ <a href="https://pl.tradingview.com/chart/?solution=43000584462" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">świec</a>.Dostosuj ramy czasowe i wybierz spośród&nbsp;<a href="https://pl.tradingview.com/support/folders/43000547460-i-d-like-to-learn-more-about-various-chart-types/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">12 typów wykresów</a> korzystając z zakładek u góry wykresu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a title href="https://pl.tradingview.com/chart/?solution=43000584462" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_02.png" width="600" alt="Chart" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Możesz nakładać <a href="https://pl.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">wskaźniki</a> lub podstawowe dane za pomocą zakładki u góry i uzyskiwać wyjaśnienia do każdego z nich za pomocą znaku zapytania obok ich nazw na ekranie menu.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}
<a href="https://pl.tradingview.com/support/folders/43000547458-i-d-like-to-learn-more-about-indicators/" style="color: #2962FF; outline: none!important; text-decoration: none!important;" target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_03.png" width="600" alt="Indicators" style="border: none; width: 600px;"></a>
{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd40.njk" %}

{% include "../templates/parts/_pph-18.njk" %}

Na koniec zacznij bawić się&nbsp;<a href="https://pl.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">nawigacją boczną&nbsp;</a>i dodawaj linie trendów, kształty i teksty, aby opisywać swoje wykresy.

{% include "../templates/parts/_pph_end.njk" %}
{% include "../templates/parts/_pd24.njk" %}

{% include "../templates/parts/_img-block.njk" %}

<a href="https://my.tradingview.com/support/folders/43000547459-i-d-like-to-learn-more-about-various-drawing-tools/" style="color: #2962FF; outline: none!important; text-decoration: none!important;"
target="_blank"><img src="https://mpics.tradingview.com/pics/welcome%20funnel/welcome_funnel2023_04.png" width="600" alt="Drawing tools" style="border: none; width: 600px;"></a>

{% include "../templates/parts/_img-block_end.njk" %}
{% include "../templates/parts/_pd48.njk" %}
{% include "../templates/parts/_pph-20-ac.njk" %}

Na razie to wszystko, ale to tylko wierzchołek góry lodowej, a najlepszym sposobem na osiągnięcie biegłości jest po prostu klikanie i odkrywanie wszystkich naszych funkcji.<br><br>Nie zapominaj, że możesz również zbierać wszelkiego rodzaju wskazówki, pomoc i informacje od naszej przyjaznej społeczności użytkowników.<br><br>Gotowy?

{% include "../templates/parts/_paragraph_end.njk" %}
{% include "../templates/parts/_pd32.njk" %}

{% endblock %}

{% block afterword %}
{% include "../templates/parts/_pph-18-ac.njk" %}

Nie zapomnij, że możesz przetestować nasze konta Pro, Pro+ lub Premium przez 30 dni,&nbsp;<a href="https://pl.tradingview.com/gopro/" target="_blank" rel="noopener" style="color: #2962FF; outline: none!important; text-decoration: none!important;">całkowicie za darmo</a>.

{% include "../templates/parts/_pph_end.njk" %}
{% endblock %}

{% block caption %}
{% include "../templates/parts/_caption-2_pl.njk" %}
{% endblock %}


{% block footer %}
{% include "../templates/parts/_footer_pl.njk" %}
{% endblock %}